<template>
    <div>
        <div class="row spacer-bottom-regular outer">
	  		<div class="columns show-for-small">
                <h1 class="heading-primary">About Optus Perks</h1>
	  		</div>
            <div class="large-7 medium-7 small-12 columns large-pull-5 medium-pull-5">
                <h1 class="heading-primary hide-for-small">About Optus Perks</h1>
                <p>Optus Perks is all about giving you the good stuff – from bonuses and treats to loads of entertainment and more every day.</p>
                <a href="/Partners?cm_re=About-_-Link1-_-Seemore1" class="button text v-center">see more about our partnerships</a>
            </div>
		</div>
        <div class="row spacer-bottom-regular outer">
            <div class="columns large-6 medium-6 small-12 spacer-bottom-regular outer">
                <img class="" src="../assets/images/AboutJuly2017.jpg">
            </div>
            <div class="columns large-6 medium-6 small-12">
                <h3 class="heading-tertiary">Our Way Of Saying Thank You</h3>
                <p>We want you to feel special every day of the week. Optus Perks is our little way of doing that.</p>
            </div>
        </div>
        <div class="row spacer-bottom-regular outer">
            <div class="columns large-6 medium-6 small-12">
                <h3 class="heading-tertiary">What's in it for me?</h3>
                <p>Optus Perks is about giving you more of the stuff that matters to you. It’s been created with you in mind
                    – and that means whatever you’re into, you’re bound to find something great that’ll keep you entertained.</p>
                <p>Got a hot date? HOYTS LUX Movie tickets are $27 (+$3 booking fee).</p>
                <p>Treat yourself, your friends or your workmates to discounted movies from $12.00 for adults. </p>
                <p>Or maybe you just want some quiet time. Keep the kids entertained from $9.50.</p>
                <p>
                    <small>Adult and kids tickets can be used anytime, except after 5pm on Saturdays. Surcharges may apply for upgrades
                        such as 3D and Xtreme Screen. Recliner seats have been installed in selected HOYTS cinemas, an additional
                        $3.50 will be charged for Perks tickets to these recliner cinemas. </small>
                </p>
                <a href="/Partners?cm_re=About-_-Link2-_-Seemore2" class="button text v-center">see more about our partnerships</a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <img class="" src="../assets/images/OPT0261_About_image2_v2_570x220[1].jpg" alt="What is in it for me?">
            </div>
        </div>
        <div class="spacer-bottom-regular outer row custom_footer"></div>
        <div class="grid-wrapper">

            <div class="row">
                <div class="columns">
                    <div class="center">
                        <h3>How does it work?</h3>
                    </div>
                </div>
            </div>

            <div class="row equal-heights spacer-bottom-regular outer feature feature-promo hide-for-small">
                <div class="small-11 small-centered columns">
                    <div class="row">
                        <div class="columns">
                            <img src="../assets/images/steps.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-3 columns text-center">
                            <div class="feature-body">
                                <h3 class="heading-tertiary teal">step 1</h3>
                                <p>
                                    <strong>Register for Optus Perks</strong>
                                </p>
                                <p>Get access to special goodies just for you.</p>
                            </div>
                        </div>
                        <div class="medium-3 columns text-center">
                            <div class="feature-body">
                                <h3 class="heading-tertiary teal">step 2</h3>
                                <p>
                                    <strong>Have a browse </strong>
                                </p>
                                <p>Check out all that’s available for you.</p>
                            </div>
                        </div>
                        <div class="medium-3 columns text-center">
                            <div class="feature-body">
                                <h3 class="heading-tertiary teal">step 3</h3>
                                <p>
                                    <strong>Add to your shopping cart</strong>
                                </p>
                                <p>Pop your perks in your shopping cart.</p>
                            </div>
                        </div>
                        <div class="medium-3 columns text-center ">
                            <div class="feature-body">
                                <h3 class="heading-tertiary teal">step 4</h3>
                                <p>
                                    <strong>Enjoy!</strong>
                                </p>
                                <p>Sit back relax and we’ll deliver your perks to you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--mobile carousel for how does it work-->
            <div class="row show-for-small">
                <div class="columns text-center">
                    <div class="slick-carousel-container">
                        <div class="spacer-bottom-regular outer">
                            <div class="carousel slick-initialized slick-slider">
                                <!--step 1-->
                                <div aria-live="polite" class="slick-list draggable" tabindex="0">
                                    <div class="slick-track" style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);">
                                        <div class="row spacer-bottom-regular outer slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 30px;">
                                            <div class="columns text-center">
                                                <div class="feature-container">
                                                    <div class="feature-image spacer-bottom-regular outer">
                                                        <img src="/UploadedFiles/about/step4.png" class="img-inline" alt="">
                                                    </div>
                                                    <div class="feature-body spacer-bottom-regular outer">
                                                        <h3 class="heading-tertiary teal">step 4</h3>
                                                        <p>
                                                            <strong>Enjoy!</strong>
                                                        </p>
                                                        <p>Sit back, relax and we'll deliver your perks to you.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row spacer-bottom-regular outer slick-slide" data-slick-index="0" aria-hidden="true" style="width: 30px;">
                                            <div class="columns text-center">
                                                <div class="feature-container">
                                                    <div class="feature-image spacer-bottom-regular outer">
                                                        <img src="/UploadedFiles/about/step1.png" class="img-inline" alt="">
                                                    </div>
                                                    <div class="feature-body spacer-bottom-regular outer">
                                                        <h3 class="heading-tertiary teal">step 1</h3>
                                                        <p>
                                                            <strong>Register for Optus Perks</strong>
                                                        </p>
                                                        <p>Get access to special goodies just for you.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row spacer-bottom-regular outer slick-slide" data-slick-index="1" aria-hidden="true" style="width: 30px;">
                                            <div class="columns text-center">
                                                <div class="feature-container">
                                                    <div class="feature-image spacer-bottom-regular outer">
                                                        <img src="/UploadedFiles/about/step2.png" class="img-inline" alt="">
                                                    </div>
                                                    <div class="feature-body spacer-bottom-regular outer">
                                                        <h3 class="heading-tertiary teal">step 2</h3>
                                                        <p>
                                                            <strong>Have a browse</strong>
                                                        </p>
                                                        <p>Check out all that's available for you.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row spacer-bottom-regular outer slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 30px;">
                                            <div class="columns text-center">
                                                <div class="feature-container">
                                                    <div class="feature-image spacer-bottom-regular outer">
                                                        <img src="/UploadedFiles/about/step3.png" class="img-inline" alt="">
                                                    </div>
                                                    <div class="feature-body spacer-bottom-regular outer">
                                                        <h3 class="heading-tertiary teal">step 3</h3>
                                                        <p>
                                                            <strong>Add to your shopping cart</strong>
                                                        </p>
                                                        <p>Pop your perks in your shopping cart.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row spacer-bottom-regular outer slick-slide" data-slick-index="3" aria-hidden="true" style="width: 30px;">
                                            <div class="columns text-center">
                                                <div class="feature-container">
                                                    <div class="feature-image spacer-bottom-regular outer">
                                                        <img src="/UploadedFiles/about/step4.png" class="img-inline" alt="">
                                                    </div>
                                                    <div class="feature-body spacer-bottom-regular outer">
                                                        <h3 class="heading-tertiary teal">step 4</h3>
                                                        <p>
                                                            <strong>Enjoy!</strong>
                                                        </p>
                                                        <p>Sit back, relax and we'll deliver your perks to you.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row spacer-bottom-regular outer slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 30px;">
                                            <div class="columns text-center">
                                                <div class="feature-container">
                                                    <div class="feature-image spacer-bottom-regular outer">
                                                        <img src="/UploadedFiles/about/step1.png" class="img-inline" alt="">
                                                    </div>
                                                    <div class="feature-body spacer-bottom-regular outer">
                                                        <h3 class="heading-tertiary teal">step 1</h3>
                                                        <p>
                                                            <strong>Register for Optus Perks</strong>
                                                        </p>
                                                        <p>Get access to special goodies just for you.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" data-role="none" class="slick-prev" aria-label="previous" style="display: none;">Previous</button>
                                <button type="button" data-role="none" class="slick-next" aria-label="next" style="display: none;">Next</button>
                                <ul class="slick-dots" style="display: block;">
                                    <li class="" aria-hidden="true">
                                        <button type="button" data-role="none">1</button>
                                    </li>
                                    <li aria-hidden="true" class="">
                                        <button type="button" data-role="none">2</button>
                                    </li>
                                    <li aria-hidden="false" class="slick-active">
                                        <button type="button" data-role="none">3</button>
                                    </li>
                                    <li aria-hidden="true" class="">
                                        <button type="button" data-role="none">4</button>
                                    </li>
                                </ul>
                            </div>
                            <a href="javascript:;" class="slick-play-pause">
                                <span class="ico ico-arrow-right"></span>
                                <span class="ico ico-equals"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="black-10-bg spacer-bottom-regular outer">
            <div class="row spacer-top-regular inner">
                <div class="columns">
                    <h3 class="heading-tertiary spacer-bottom-regular outer">The Nitty Gritty</h3>

                    <div class="row">
                        <div class="columns">
                            <!--term 1-->
                            <section>
                                <h4 class="heading-quaternary">
                                    <span class="teal span-nb">1</span>
                                    <span class="span-tit">Optus Perks</span>
                                </h4>
                                <section class="left-space-35">
                                    <p>
                                        <span class="teal">
                                            <strong>1.1</strong>
                                        </span>
                                        <strong>Optus Perks</strong> allows Eligible Optus Customers (you) to participate in the
                                        Optus rewards program and to redeem rewards offered by Optus from time to time. Optus
                                        Perks is administered by Optus Administration Pty Ltd (Optus, we and us).
                                    </p>
                                </section>
                                <section class="left-space-35">
                                    <p>
                                        <span class="teal">
                                            <strong>1.2</strong>
                                        </span>
                                        You can become an Optus Perks member by registering on the Optus Perks website. By registering or purchasing or redeeming
                                        Perks, you agree to be bound by our Terms and Conditions. Ensure your ‘Profile’ is
                                        up-to-date and active to receive Optus Perks.


                                    </p>
                                    <p>
                                        <span class="teal">
                                            <strong>1.3</strong>
                                        </span>
                                        Other perks offered through Optus Perks website are subject to any separate terms and conditions stated on the offer.


                                    </p>
                                    <p>
                                        <span class="teal">
                                            <strong>1.4</strong>
                                        </span>
                                        Please first refer any disputes to the supplier (e.g. a cinema or venue) and thereafter to the Optus Perks customer service
                                        centre.


                                    </p>
                                </section>
                            </section>
                            <!--term 2-->
                            <section>
                                <h4 class="heading-quaternary">
                                    <span class="teal span-nb">2</span>
                                    <span class="span-tit">OFFERS OF OPTUS PERKS</span>
                                </h4>
                                <section class="left-space-35">
                                    <p>
                                        <span class="teal">
                                            <strong>2.1</strong>
                                        </span>
                                        Optus may notify you about Optus Perks by mail, email, SMS or in participating Optus stores.
                                    </p>
                                </section>
                                <section class="left-space-35">
                                    <p>
                                        <span class="teal">
                                            <strong>2.2</strong>
                                        </span>
                                        All Perks are subject to availability. Optus may at any time without notice withdraw, modify, offer or substitute any Perk.
                                    </p>
                                </section>

                            </section>
                            <!--term 3-->
                            <section>
                                <h4 class="heading-quaternary">
                                    <span class="teal span-nb">3</span>
                                    <span class="span-tit">Orders</span>
                                </h4>
                                <section class="left-space-35">
                                    <p>
                                        <span class="teal">
                                            <strong>3.1</strong>
                                        </span>
                                        Optus Perks orders will only be processed upon full payment.
                                    </p>
                                </section>
                                <section class="left-space-35">
                                    <p>
                                        <span class="teal">
                                            <strong>3.2</strong>
                                        </span>
                                        Perks will be dispatched within one business day to a valid email address or SMS number, or delivered within 15 business
                                        days by physical delivery.
                                    </p>
                                </section>
                                <section class="left-space-35">
                                    <p>
                                        <span class="teal">
                                            <strong>3.3</strong>
                                        </span>
                                        Digital Perks once processed, cannot be cancelled, amended or exchanged.
                                    </p>
                                </section>
                            </section>

                            <!--term 5-->
                            <section>
                                <h4 class="heading-quaternary">
                                    <span class="teal span-nb">4</span>
                                    <span class="span-tit">General</span>
                                </h4>
                                <section class="left-space-35">
                                    <p>
                                        <span class="teal">
                                            <strong>4.1</strong>
                                        </span>
                                        Customers can call (9am - 8pm Sydney time) or email the Optus Perks customer service team at
                                        <a
                                            class="no-decoration black-90" href="mailto:perks@optusperks.com.au">perks@optusperks.com.au</a> with redemption requests, enquiries about Optus Perks
                                            or complaints. Please include your full name, email address &amp; registered
                                            phone number or broadband user name so we can quickly help with your enquiry.
                                    </p>
                                </section>
                                <section class="left-space-35">
                                    <p>
                                        <span class="teal">
                                            <strong>4.2</strong>
                                        </span>
                                        For further details on Optus Perks and the current full version of the Terms and Conditions, please click
                                        <a
                                            href="/Terms" target="_blank">here.</a>
                                    </p>The Terms and Conditions are effective as at the specified effective date and subject
                                    to change from time to time, at Optus’ discretion. For information on how we handle your
                                    personal information, please see our
                                    <a href="http://www.optus.com.au/privacy" target="_blank">privacy policy</a>.
                                    <p></p>
                                </section>

                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style lang="scss" scoped>
</style>