<template>
    <div>
        <div class="row spacer-bottom-regular outer">
            <div class="columns show-for-small">
                <h1 class="heading-primary">Events</h1>
            </div>
            <div class="large-7 medium-7 small-12 columns large-pull-5 medium-pull-5">
                <h1 class="heading-primary hide-for-small">Events</h1>
                <p>Exclusive offers and discounts to special events, music gigs, theatre, comedy and more. </p>
                <p>By clicking on 'BUY NOW' you are also agreeing to the Optus Perks Events Terms and Conditions below.</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <accordion title="Terms and Conditions">
                    <p><b>General Conditions Perks Events</b></p>
                    <p>•	Offers are only available for Optus Perks customers.</p>
                    <p>•	Offers are subject to availability during the ticket offer period. </p>
                    <p>•	A limited number of tickets will be available and will be allocated on a first come, first served basis until the allocation is exhausted OR the specified end time of offer occurs – whichever comes first. </p>
                    <p>•	Tickets are sold subject to the ticketing agent’s Standard Terms and Conditions and any additional terms and conditions imposed by the relevant venue/presenter of the event. These terms and conditions are available on the relevant ticketing partner’s website. </p>
                    <p>•	Optus does not charge any additional fees for obtaining tickets; however standard handling, booking or transaction/payment processing fees may apply as indicated on the ticketing partner’s website.</p>
                    <p>•	Optus provides information about the offers that is correct at the time of publication.</p>
                    <p>•	Optus does not provide any of the good and services relating to the offer, and does not make representations or warranties in respect of the offer, goods or services.</p>
                    <p>•	Relevant ticketing agencies and/or event promoters are solely responsible for offer redemption and fulfilment. In the case of an event cancellation, the relevant ticketing agency and/or promoter of the event are solely responsible for any refunds or exchanges.</p>
                    <p>•	You will be required to create an account with the ticketing agent to complete the ticket purchase.</p>
                    <p>•	Optus may modify or remove the offers at any time without prior notice.</p>
                    <p>•	By clicking on buy now, you are agreeing to the terms and conditions of the Perks Events offers.</p>
                </accordion>
            </div>
        </div>
        <div class="row spacer-bottom-regular outer">
            <div class="columns small-4">
                <a class="button text v-center" href="https://www.optusperks.com.au/">Back</a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <accordion title="Top questions - FAQs">
                    <ul class="list-qna">
                       <li>
                            <h4><span class="text-qa">Q:</span><span style="font-weight:bold">Do I need to register for Optus Perks to take advantage of Perks Events?</span></h4>
                            <p><span class="text-qa">A:</span>Yes, it's easy to register any time you like!  Just head <a href="https://www.optus.com.au/customercentre/rewards" target="_blank">here</a> and pop in your details. Here are some other ways to register too:
							<br>1. My Account
							<br>Got an existing My Account? Login with your existing My Account details (email and password) at <a href="https://www.optus.com.au/optusperks/registration" target="_blank">www.optus.com.au/optusperks/registration</a> and follow the easy steps. You will need to confirm a few details like letting us know your Optus service (such as your mobile phone number or broadband username) — then you'll be ready to go!
							<br>2. My Optus App
							<br>Got the My Optus App? Open the app and tap on the "Rewards and Offers" banner on the side panel. Click on the Optus Perks side panel and follow the easy steps to register. Simply confirm a few details like your email and you'll be ready to go!
							<br>3. What if I don't have My Account or My Optus App?
							<br>No problems at all. If you don't have My Account or My Optus App, you can register <a href="https://www.optus.com.au/optusperks/registration" target="_blank">here</a> — just follow the easy steps. Register with an email and put in a few extra details like your Optus service (such as your mobile number or broadband username), and away you go.
                            To finalise your registration for any of the above options you might be asked to confirm your email. We'll then send you a confirmation email to acknowledge your request, and then all you need to do is to click on the URL in the email to activate your account. It'll then be time to start enjoying Optus Perks any time! Simply log in when you need your perk.
                            </p></li>
                        <li>
                            <h4><span class="text-qa">Q:</span><span style="font-weight:bold">The Perks Event I am wanting is now closed, can I still purchase tickets?</span></h4>
                            <p><span class="text-qa">A:</span>Unfortunately no, if the event has closed, we can no longer offer this promotion.  Please make sure you take advantage of another Perk Event available on our website. </p>
                        </li>
                        <li>
                            <h4><span class="text-qa">Q:</span><span style="font-weight:bold">I received communication from Optus Perks of a Perks Event Sale promotion, however I did not purchase tickets in the sale promotion period. Can I still purchase tickets?</span></h4>
                            <p><span class="text-qa">A:</span>Unfortunately no, if the event has closed, we can no longer offer this promotion.  Please make sure you take advantage of another Perk Event available on our website.</p>
                        </li>
						 <li>
                            <h4><span class="text-qa">Q:</span><span style="font-weight:bold">Who do I call with a problem, refund or complaint regarding my ticket purchase from Ticketek  or Ticketmaster ? </span></h4>
                            <p><span class="text-qa">A:</span>If you have purchased Perks Events tickets you will need to call Ticketek  or Ticketmaster directly
                            <br>Ticketmaster Contact Number  :  136100
                            <br>Ticketek Contact number : 132 849
							</p>
                        </li>
						<p>For a full list of  FAQs associated with  Ticketmaster please click <a href="http://www.ticketmaster.com.au/h/help.html?tm_link=tm_i_help_footer" target="_blank">here</a> </p>
                        <p>For a full list of  FAQs associated with Ticketek please click here <a href="http://ticketek.custhelp.com/app/answers/list" target="_blank">here</a>  </p>
					</ul>
                </accordion>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import accordion from '@/components/Accordion'
    export default {
        components: {
            accordion
        }
    }
</script>

<style lang="scss" scoped>

</style>