<template>
    <div id="main" class="faq">

        <!-- Heading Area -->
        <div class="row spacer-bottom-regular outer">
            <div class="columns small-12">
                <h1 class="heading-primary">OPTUS PERKS FAQs</h1>

                <div class="row">
                    <div class="columns large-6 medium-6 small-12">
                        <ul class="no-link-decoration list-qna">
                            <li>
                                <a href="#heading_1" class="">General FAQs:</a>
                            </li>
                            <li>
                                <a href="#heading_2" class="">Registration FAQs:</a>
                            </li>

                            <li>
                                <a href="#heading_4" class="">Purchasing Rewards FAQs:</a>
                            </li>
                            <li>
                                <a href="#heading_9" class="">HOYTS Book a session FAQs:</a>
                            </li>
                        </ul>
                    </div>
                    <div class="columns large-6 medium-6 small-12">
                        <ul class="no-link-decoration list-qna">

                            <li>
                                <a href="#heading_5" class="">Delivery FAQs:</a>
                            </li>
                            <li>
                                <a href="#heading_6" class="">Cancellations, Returns and Expiry FAQs:</a>
                            </li>
                            <li>
                                <a href="#heading_7" class="">Profile and Deregistration FAQs:</a>
                            </li>
                            <li>
                                <a href="#heading_8" class="">Still not found an answer to your question?</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- // Heading Area -->

        <!-- FAQ heading 1 -->
        <section>
            <div class="row">
                <div class="columns">
                    <h4 id="heading_1" class="heading-quaternary">GENERAL FAQs:</h4>
                </div>
                <!-- question 1-->
                <div class="column">
                    <accordion title="What is Optus Perks about?">
                        <p>Optus Perks is our program of rewards, treats and surprises for you that'll help make each day a
                            little more special.</p>
                    </accordion>
                </div>
                <!-- question 2-->
                <div class="column">
                    <accordion title="What benefits do I get as an Optus Perks member?">
                        <p>As an Optus customer you can register for Optus Perks to take advantage of great discounts and rewards
                            on the Optus Perks website! Enjoy discounted movies at the cinema from $12.00 for adults, $9.50
                            for kids and $27.00 (+$3 booking fee) for HOYTS LUX. There’s heaps more – so check out our website
                            to get the run-down of all our perks. Surcharges may apply for upgrades such as 3D, Xtreme Screen,
                            or recliner seats.</p>
                    </accordion>
                </div>
                <!-- //FAQ heading 1 -->

                <!-- FAQ heading 2 -->
                <section>
                    <div>
                        <div class="columns">
                            <h4 id="heading_1" class="heading-quaternary">REGISTRATION FAQs:</h4>
                        </div>
                        <!-- question 1-->
                        <div class="column">
                            <accordion title="How do I register for Optus Perks?">
                                <ol>
                                    <li>
                                        <strong>My Optus App</strong>
                                        <p>
                                            Download the latest version of the My Optus App and you will be automatically registered. Open the app and tap on “Perks”
                                            on the home page and you’ll be ready to go.
                                        </p>
                                    </li>
                                    <li>
                                        <strong>My Account</strong>
                                        <p>
                                            Got an existing My Account? Login with your existing My Account details (email and password) at
                                            <a href="https://www.optus.com.au/customercentre/rewards" target="_blank">www.optus.com.au/optusperks/registration</a> and follow the easy steps. You will
                                            need to confirm a few details like letting us know your Optus service (such as
                                            your mobile phone number or broadband username) — then you'll be ready to go!
                                        </p>
                                    </li>
                                    <li>
                                        <strong>What if I don't have My Account or My Optus App?</strong>
                                        <p>
                                            No problems at all. If you don't have My Account or My Optus App, you can register
                                            <a href="http://www.optus.com.au/optusperks/registration" target="_blank">here</a> — just follow the easy steps. Register with an email and put in a few
                                            extra details like your Optus service (such as your mobile number or broadband
                                            username), and away you go.
                                        </p>
                                        <p>
                                            To finalise your registration for any of the above options you might be asked to confirm your email.
                                        </p>
                                    </li>
                                </ol>
                            </accordion>

                        </div>

                        <!-- question 3-->
                        <div class="column">
                            <accordion title="Can all Optus customers register for Optus Perks?">
                                <p>You just need to have an active eligible service with us. Customers with these products aren’t
                                    eligible for Optus Perks: Optus TV featuring Foxtel satellite, Optus Thuraya customers,
                                    ‘Google Apps for Business’, Optus MyBiz Online™ , Complex fixed services (Fleet and Micro),
                                    standalone Optus TV with Fetch, VAS services (e.g. bolt-ons, roaming), Coles prepaid
                                    customers and all Optus Corporate products are ineligible.
                                </p>
                            </accordion>
                        </div>

                        <!-- question 5-->
                        <div class="column">
                            <accordion title="Can all Optus customers register for Optus Perks?">
                                <p>There could be a couple of reasons.</p>
                                <ol>
                                    <li>
                                        You may have already registered your email address with My Account, which you can also use your to access Optus Perks.
                                    </li>
                                    <li>
                                        Or maybe you’ve already registered your service for Optus Perks. In that case, make sure you register with a service that
                                        hasn’t already been registered for Optus Perks.
                                    </li>
                                </ol>
                                <p>Still need a hand? If you still have trouble logging in, call the team on 1300 760 014 and
                                    select option 1 on the IVR. We’ll be happy to help.</p>
                            </accordion>
                        </div>

                        <!-- question 6-->
                        <div class="column">
                            <accordion title="My Optus number or broadband username I'm trying to register keeps getting an error, why is that?">
                                <p>If you’re a new Optus customer, it can take up to 14 days for your information to be processed
                                    into our systems. </p>
                                <p>If you’ve recently signed up for an Optus home phone or broadband product then it can also
                                    take a little longer for you to become active in our system. Once your service has been
                                    installed within your home or business, you will be provided with an Optus account number.
                                    Once you have that you’ll be able to register for Optus Perks.</p>
                            </accordion>
                        </div>

                        <!--back to top-->
                        <div class="columns text-right spacer-top-short spacer-bottom-short outer">
                            <a href="#top" class="no-text-decoration">Back to the top</a>
                        </div>
                    </div>
                </section>



                <!-- //FAQ heading 3 -->

                <!-- FAQ heading 4 -->
                <section>
                    <div>
                        <div class="columns">
                            <h4 id="heading_4" class="heading-quaternary">PURCHASING REWARDS FAQs:</h4>
                        </div>

                        <!-- question 2-->
                        <div class="column">
                            <accordion title="How do I purchase rewards on Optus Perks?">
                                <p>Simply log into Optus Perks via the My Optus App or the website and you’re ready to go! Simply
                                    add the rewards you would like to purchase into your shopping cart and check out. You’ll
                                    need to confirm either delivery address or email details and choose a preferred payment
                                    method. Make sure you check your delivery address before confirming the transaction.</p>
                            </accordion>
                        </div>

                        <!-- question 3-->
                        <div class="column">
                            <accordion title="What payment methods are accepted and is my payment secure?">
                                <p>The Optus Perks website accepts the following payment methods: MasterCard, VISA, American
                                    Express and PayPal.</p>
                                <p>We ensure that your payment is secure. Your payment details are not saved on our site unless
                                    you request them to be.</p>
                            </accordion>
                        </div>

                        <!-- question 6-->
                        <div class="column">
                            <accordion title="Is there a limit on how many rewards I can purchase?">
                                <p>You can purchase up to 10 different types of movie vouchers per customer, per 24 hours. </p>
                            </accordion>
                        </div>

                        <!-- question 7-->
                        <div class="column">
                            <accordion title="When can I use my Optus Perks and do they have an expiry date?">
                                <p>
                                    <strong>Movie Vouchers</strong>
                                </p>
                                <p> Movie vouchers for independent cinemas are valid 3 months from the date of purchase. The
                                    expiry date is printed on your movie voucher. You can also find details about the expiry
                                    date in the reward terms &amp; conditions in your order history. Discounted $11.50 adult
                                    &amp; $9.00 kids movie vouchers can be used anyday including public holidays except after
                                    5pm on a Saturday. </p>
                                <p>
                                    <strong>Movie Tickets</strong>
                                </p>
                                <p>Discounted adult, kids’ and HOYTS LUX movie tickets purchased through HOYTS Book A Session,
                                    can be purchased for any day including public holidays, except after 5pm on a Saturday.
                                    <br>Remember to check the full FAQs and terms and conditions when purchasing your movie vouchers
                                    or tickets.</p>
                                <p></p>
                                <p>
                                    <strong>Other Optus Perks</strong>
                                </p>
                                <p>Optus Perks rewards are all subject to expiry periods. Depending on the reward you choose,
                                    the expiry period will vary. The expiry date will always be printed on your reward delivery
                                    email if you are unsure and need to re-check the expiry date. You can also find details
                                    about the expiry date in the reward terms &amp; conditions in your order history. Remember
                                    to check the FAQs and terms and conditions when purchasing your rewards.</p>
                            </accordion>
                        </div>

                        <!-- question 8-->
                        <div class="column">
                            <accordion title="I've lost my rewards/vouchers is there a way I can get them?">
                                <p>Yes — when you login to Optus Perks, click on 'order history' and we will re-send your last
                                    purchase. </p>
                            </accordion>
                        </div>

                        <!-- question 9-->
                        <div class="column">
                            <accordion title="I purchased a reward, but received a promotion code. What do I do with it?">
                                <p>All you need to do is check out the reward delivery email you received which will include
                                    the full instructions on how to use your promotion code.</p>
                            </accordion>
                        </div>

                        <!--back to top-->
                        <div class="columns text-right spacer-top-short spacer-bottom-short outer">
                            <a href="#top" class="no-text-decoration">Back to the top</a>
                        </div>
                    </div>
                </section>

                <!-- //FAQ heading 9 -->

                <!-- FAQ heading 9 -->
                <section>
                    <div>
                        <div class="columns">
                            <h4 id="heading_9" class="heading-quaternary">HOYTS BOOK A SESSION FAQS:</h4>
                        </div>
                        <!-- question 1-->
                        <div class="column">
                            <accordion title="What's the Hoyts Movie Ticket (Book A Session) offer?">
                                <p>If you’re an Optus Perks customer, you can enjoy discounted rates for Adult, Kids and HOYTS
                                    LUX tickets at participating HOYTS cinemas around Australia. Select your tickets, book
                                    your movie sessions and reserve seats all at the same time! This offer can't be combined
                                    with any other promotion or discount.</p>
                            </accordion>
                        </div>

                        <!-- question 2-->
                        <div class="column">
                            <accordion title="Why is there a price increase to Optus Perks discounted HOYTS movie tickets?">
                                <p>Our cinema partner HOYTS continues to offer Optus Perks customers the best cinema experience
                                    at fantastic prices.&nbsp;There has been a small price increase to Perks tickets to HOYTS
                                    however it's still a great offer for Optus Perks customers with a significant discount
                                    to standard ticket prices including new Recliner cinemas.
                                </p>
                            </accordion>
                        </div>

                        <!-- question 4-->
                        <div class="column">
                            <accordion title="How do I take up the offer?">
                                <p>All you need to do is follow these easy steps!</p>
                                <p>
                                    <b>Step 1:</b> Head to optusperks.com.au and login to your account. (If you’re not registered
                                    yet you can do that here as well). </p>
                                <p>
                                    <b>Step 2:</b> Click‘GO TO THE MOVIES’, and select 'BOOK NOW' under 'Book your HOYTS movie
                                    session'.</p>
                                <p>
                                    <b>Step 3:</b> You’ll be taken to the HOYTS cinema website to select your movie session
                                    and amount of tickets you need – up to 10 tickets per transaction.</p>
                                <p>
                                    <b>Step 4:</b> Head to the payment page to purchase your tickets using credit card, PayPal,
                                    Visa Checkout, MasterPass, or cinema partner gift card. </p>
                                <p>Please Note: The cardholder will need to provide personal details online for the purchase.
                                </p>
                                <p>
                                    <b>Step 5:</b> Check the box ‘Yes, I accept the terms and conditions and booking policy’.
                                </p>
                                <p>
                                    <b>Step 6:</b> Your purchase confirmation will appear on screen and then sent to your chosen
                                    email address.</p>
                                <p>
                                    <b>Step 7:</b> Collect your tickets at HOYTS by presenting your Booking Confirmation email
                                    or quoting your Booking Confirmation number. You can also print them out at home and
                                    bring them the cinema. They are attached as a pdf to the confirmation email.
                                </p>
                                <p>For any HOYTS Book A Session enquiries please contact HOYTS on 1300 656 893.</p>
                            </accordion>
                        </div>
                        <!-- question 5-->
                        <div class="column">
                            <accordion title="Which HOYTS can I book a session through Optus Perks?">
                                <p>You’ll find all participating HOYTS cinemas
                                    <a href="http://www.hoyts.com.au/cinemas/cinema_search.aspx" target="_blank">here</a>
                                </p>
                            </accordion>
                        </div>

                        <!-- question 6-->
                        <div class="column">
                            <accordion title="What do I need to bring with me to pick up my tickets?">
                                <p>Simply bring your confirmation receipt and booking number and present them at the box office
                                    or candy bar depending on cinema location.</p>
                            </accordion>
                        </div>

                        <!-- question 7-->
                        <div class="column">
                            <accordion title="What movie sessions can I see with this offer?">
                                <p>You can go to any standard screenings. There is a $3 booking fee for HOYTS LUX screenings.
                                    Surcharges may apply for upgrades such as 3D and Xtreme Screen. Recliner seats have been
                                    installed in selected HOYTS cinemas, an additional $3.50 will be charged for Perks tickets
                                    to these recliner cinemas. Adult and kids tickets can be used anytime, except after 5pm
                                    on Saturdays. There are no additional fees for credit cards. No further concessions or
                                    discounts are available with this offer.</p>
                            </accordion>
                        </div>

                        <!-- question 8-->
                        <div class="column">
                            <accordion title="When can I use my tickets?">
                                <p>Adult, Kids and HOYTS LUX tickets can be used any day of the week except after 5pm on Saturdays.
                                    </p>
                            </accordion>
                        </div>

                        <!-- question 9-->
                        <div class="column">
                            <accordion title="What is HOYTS recliner seating?">
                                <p>Selected HOYTS cinemas are now fully refurbished to offer an enhanced experience with powered
                                    recliner seats in every auditorium. Optus Perks customers who purchase tickets to see
                                    a movie in a HOYTS reclining cinema will be charged an additional $3.50 per ticket. This
                                    means the cost of the ticket will be $15.50 for adults and $13.00 for kids. This is an
                                    additional cost and only applies to specific cinemas where recliner seats are available.
                                    These sites are: Chatswood Westfield, Eastgardens, Wetherill Park, Woden, Belconnen,
                                    Eastland, Frankston, Sunnybank, and Chadstone. Additional cinemas may be added at a later
                                    date. Please check the HOYTS website for the most up-to-date recliner cinema locations
                                    <a href="http://www.hoyts.com.au/cinemas/cinema_search.aspx" target="_blank">here</a>. </p>
                            </accordion>
                        </div>

                        <!-- question 9-->
                        <div class="column">
                            <accordion title="Why is there an additional cost for recliner cinemas?">
                                <p>HOYTS have made some great upgrades to some of their cinemas, fitting them out with best
                                    in market luxury powered recliner seats. The price for Perks tickets to recliner cinemas
                                    has been revised and HOYTS has applied the additional $3.50 charge. It's still a great
                                    offer for Optus Perks customers with a significant discount to standard ticket prices.
                                    </p>
                            </accordion>
                        </div>

                        <!-- question 10-->
                        <div class="column">
                            <accordion title="What’s the age limit on Kid’s tickets?">
                                <p>Kid’s tickets are available for children 15 years and under.</p>
                            </accordion>
                        </div>

                        <!-- question 11-->
                        <div class="column">
                            <accordion title="What age restrictions are placed on HOYTS LUX tickets?">
                                <p>Anyone under the age of 18 must be accompanied by a parent or legal guardian at all times
                                    within the HOYTS LUX areas.</p>
                            </accordion>
                        </div>

                        <!-- question 12-->
                        <div class="column">
                            <accordion title="How many tickets can I buy at any one time?">
                                <p>General admission: You can purchase up to 10 tickets in a single online transaction.</p>
                                <p>HOYTS LUX: as seating is designed for two people you can purchase either 2 or 4 tickets online.
                                    </p>
                                <p>For odd number tickets requests or more than four people contact HOYTS
                                    <a href="www.hoyts.com.au/guest_service/contact_us" target="_blank">here</a>
                                </p>
                            </accordion>
                        </div>

                        <!-- question 13-->
                        <div class="column">
                            <accordion title="What do I do if there is an error during my purchase or the site isn’t working?">
                                <p>From time to time, the sites may not be working due to technical reasons. If this happens
                                    you can either try again later or check that you have the latest version of your Internet
                                    browser. Refreshing your browser can sometimes help too.</p>
                            </accordion>
                        </div>

                        <!-- question 14-->
                        <div class="column">
                            <accordion title="Can I get refunds for my ticket purchases?">
                                <p>No, unfortunately any tickets purchased online cannot be cancelled, refunded or exchanged.</p>
                            </accordion>
                        </div>

                        <!-- question 15-->
                        <div class="column">
                            <accordion title="Are there any additional fees?">
                                <p>There is a $3 booking fee for HOYTS LUX screenings. If you choose any premium screenings
                                    including Xtreme Screen, recliner or 3D another surcharge applies as well. There are
                                    no additional fees for credit cards. No further concessions or discounts are available
                                    with this offer.</p>
                            </accordion>
                        </div>

                        <!-- question 17-->
                        <div class="column">
                            <accordion title="How can I pay for my purchase?">
                                <p>You can use a credit card, Visa Checkout, MasterPass, PayPal or a HOYTS Gift Card.</p>
                            </accordion>
                        </div>

                        <!-- question 18-->
                        <div class="column">
                            <accordion title="How do I receive my purchase?">
                                <p>When you complete your online booking you will receive a confirmation email with the details
                                    of your ticket purchase. Simply bring your confirmation receipt and booking number and
                                    present them at the HOYTS Express queue at the Box Office or Candy Bar depending on your
                                    cinema location.</p>
                            </accordion>
                        </div>

                        <!-- question 19-->
                        <div class="column">
                            <accordion title="What if I accidentally purchase tickets for the wrong date?">
                                <p>Before your session commences, please contact the HOYTS cinema you are attending or the HOYTS
                                    Guest Experience Team
                                    <a href="http://www.hoyts.com.au/guest_service/contact_us.aspx" target="_blank">here</a>
                                </p>
                            </accordion>
                        </div>

                        <!-- question 20-->
                        <div class="column">
                            <accordion title="If I don’t end up collecting my tickets or go to the movie will I still get charged?">
                                <p>Yes, your credit card will be charged for the full price of the ticket and booking fee because
                                    there are no refunds or exchanges available on tickets purchased through this program.
                                    For all the terms and conditions please go
                                    <a href="/terms" target="_blank">here</a>.</p>
                            </accordion>
                        </div>

                        <!--back to top-->
                        <div class="columns text-right spacer-top-short spacer-bottom-short outer">
                            <a href="#top" class="no-text-decoration">Back to the top</a>
                        </div>
                    </div>
                </section>

                <!-- FAQ heading 5 -->
                <section>
                    <div>
                        <div class="columns">
                            <h4 id="heading_5" class="heading-quaternary">DELIVERY FAQs:</h4>
                        </div>


                        <!-- question 4-->
                        <div class="column">
                            <accordion title="After I have purchased my reward, when will I receive it?">
                                <p>If you have purchased an eVoucher or promotion code, it will be emailed to the email address
                                    you provided when you registered for Optus Perks. We aim to deliver your Rewards instantly,
                                    however sometimes you may need to wait up to 20 minutes after placing your redemption.
                                    Sometimes it can fall in your junk mail so check that folder just in case. To ensure
                                    this doesn’t happen again, save no-reply@optusperks.com.au to your address book so next
                                    time it goes straight to your inbox instead of junk. Don’t forget if you lose your eVoucher
                                    or promotion code you can access them in your order history at any time after placing
                                    the redemption
                                    <a href="http://www.optusperks.com.au/Order" target="_blank">www.optusperks.com.au/Order</a>.</p>
                                <p>For all merchandise and physical gift cards, delivery may take up to 28 working days to arrive.</p>
                            </accordion>
                        </div>

                        <!-- question 5-->
                        <div class="column">
                            <accordion title="I've lost my confirmation email and reward delivery email. What do I do?">
                                <p>No worries, you can retrieve your most recent reward order details in your order history.
                                    Just login and click 'order history' in the tab at the top of the home page and we will
                                    re-send you your last order. </p>
                                <p>For older rewards contact 1300 760 014 from 9am to 8pm.</p>
                            </accordion>
                        </div>

                        <!--back to top-->
                        <div class="columns text-right spacer-top-short spacer-bottom-short outer">
                            <a href="#top" class="no-text-decoration">Back to the top</a>
                        </div>
                    </div>
                </section>

                <!-- //FAQ heading 5 -->

                <!-- FAQ heading 6 -->
                <section>
                    <div>
                        <div class="columns">
                            <h4 id="heading_6" class="heading-quaternary">CANCELLATIONS, RETURNS AND EXPIRY FAQs:</h4>
                        </div>
                        <!-- question 1-->
                        <div class="column">
                            <accordion title="Can I cancel my Optus Perks order?">
                                <p>Unfortunately not, once you have submitted and paid for your reward order, it can't be cancelled.</p>
                            </accordion>
                        </div>

                        <!-- question 2-->
                        <div class="column">
                            <accordion title="Can I return my Optus Perks reward?">
                                <p>Only if there's a fault with your reward. Otherwise once you have submitted and paid for
                                    your reward, it can't be returned. </p>
                            </accordion>
                        </div>

                        <!-- question 4-->
                        <div class="column">
                            <accordion title="My reward has expired, can I have an extension on the expiry date?">
                                <p>Unfortunately the expiry date cannot be extended. Your reward is subject to the terms &amp;
                                    conditions you accept at the time of purchasing or redeeming. You can also find details
                                    about the expiry date in the reward terms &amp; conditions in your order history.</p>
                            </accordion>
                        </div>

                        <!--back to top-->
                        <div class="columns text-right spacer-top-short spacer-bottom-short outer">
                            <a href="#top" class="no-text-decoration">Back to the top</a>
                        </div>
                    </div>
                </section>

                <!-- //FAQ heading 6 -->

                <!-- FAQ heading 7 -->
                <section>
                    <div>
                        <div class="columns">
                            <h4 id="heading_7" class="heading-quaternary">PROFILE AND DEREGISTRATION FAQs:</h4>
                        </div>

                        <!-- question 2-->
                        <div class="column">
                            <accordion title="I am no longer an Optus customer, can I still be an Optus Perks member?">
                                <p>No, Optus Perks is only available to customers with an active service with Optus service.
                                    </p>
                                <p>Optus Perks is available to customers with an eligible active service with Optus. Optus TV
                                    featuring Foxtel satellite and Optus Thuraya customers, and customers of Optus Corporate
                                    products, Optus Fleet products, ‘Google Apps for Business’, and Optus MyBiz Online™ ,
                                    complex fixed services (fleet and micro), Yes TV by Fetch, VAS services (bolt ons, roaming
                                    etc.), Coles prepaid customers and all corporate products are ineligible for membership
                                    to the Optus Perks Program.
                                </p>
                            </accordion>
                        </div>

                        <!-- question 3-->
                        <div class="column">
                            <accordion title="How can I access Optus' Privacy policy?">
                                <p>If you would like to read the Optus Privacy policy, you can check it out
                                    <a href="http://www.optus.com.au/about/legal/privacy" target="_blank">here.</a>
                                </p>
                            </accordion>
                        </div>

                        <!--back to top-->
                        <div class="columns text-right spacer-top-short spacer-bottom-short outer">
                            <a href="#top" class="no-text-decoration">Back to the top</a>
                        </div>
                    </div>
                </section>

                <!-- //FAQ heading 7 -->

                <!-- FAQ heading 8 -->
                <section>
                    <div>
                        <div class="columns">
                            <h4 id="heading_8" class="heading-quaternary">STILL NOT FOUND AN ANSWER TO YOUR QUESTION?</h4>
                        </div>
                        <!-- question 1-->
                        <div class="column">
                            <accordion title="Can I speak to someone directly?">
                                <p>For other enquiries about the program, you can call 1300 760 014.</p>
                                <p>For any HOYTS Book A Session enquiries please contact HOYTS on 1300 1 HOYTS (1300 1 46987)
                                    .</p>
                                <p>Customer service support for general program enquiries and or reward redemptions is available
                                    from 9am to 8pm, Sydney/Melbourne time, 7 days a week, including public holidays. </p>
                                <p>For enquiries about registration, customer service support is available from 8am to 7pm Monday
                                    to Friday or 9am to 5pm Saturday. We are closed on Sundays.</p>
                                <p>For enquiries about HOYTS Book A Session tickets support is 11am to 9pm, 7 days a week.
                                </p>
                            </accordion>
                        </div>

                        <!--back to top-->
                        <div class="columns text-right spacer-top-short spacer-bottom-short outer">
                            <a href="#top" class="no-text-decoration">Back to the top</a>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</template>

<script>
    import accordion from '@/components/Accordion'
    export default {
        components: {
            accordion
        }
    }
</script>

<style lang="scss" scoped>
</style>