<template>
<div class="home">
    <div class="container-view">
        <div class="container-nav visuallyhidden" aria-hidden="true"></div>
        <div class="container-body">

            <div class="container-body-dimmer visuallyhidden" aria-hidden="true"></div>

            <input type="hidden" id="hdnAuthenticated" value="False" />

            <div class="custom">
                <div id="main" class="rewards">

                    <!--carousel-->
                    <div class="row">
                        <div class="column">
                            <div class="slick-carousel-container">
                                <div class="spacer-bottom-regular outer">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row hide-for-small">
                        <div class="column">
                            <div class="slick-carousel-container">
                                <div class="spacer-bottom-regular outer">
                                    <carousel
                                        :per-page="1"
                                        :autoplay="true"
                                        :autoplayTimeout="4000"
                                        :autoplayHoverPause="true"
                                        paginationActiveColor="#178093"
                                        paginationPadding="7">
                                        <slide>
                                            <a href="https://offer.optus.com.au/optus-perks-win-trip-vegas-stan-billions?CID=sms:con:CD:StanB:awa:Perks:DCE:MRM30257-034&amp;utm_source=CD&amp;utm_medium=sms&amp;utm_campaign=sms:con:CD:StanB:awa:Perks:DCE:MRM30257-034%22">
                                                <img src="https://i.ewalletcdn.com/1566859f-ee2e-421b-b47d-b0c90cc65a54/
" alt="Win a trip to Las Vegas to celebrate the brand new season of Billions">
                                            </a>
                                        </slide>
                                        <slide>
                                            <a href="https://offer.optus.com.au/optus-perks-win-trip-fifa-world-cup-russia?CID=dis:con:opca:sport:awa:sport:DCE:MRM30334-029_perks_cara&amp;utm_source=opca&amp;utm_medium=dis&amp;utm_campaign=dis:con:opca:sport:awa:sport:DCE:MRM30334-029_perks_cara">
                                                <img src="https://i.ewalletcdn.com/49d56b51-1992-4150-9f5f-36bea32443bd/" alt="Win a trip to the 2018 FIFA World Cup Russia™ worth up to $62,000">
                                            </a>
                                        </slide>
                                        <slide>
                                            <a href="https://www.optusperks.com.au/supplierbuy">
                                                <img src="https://i.ewalletcdn.com/c64d0f08-1740-4cb1-aded-000ec75e8f02/"
                                                    alt="Catch a bunny blockbuster">
                                            </a>
                                        </slide>
                                    </carousel>
                                    <a href="javascript:;" class="slick-play-pause">
                                        <span class="ico ico-arrow-right"></span>
                                        <span class="ico ico-equals"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row show-for-small">
                        <div class="column">
                            <div class="slick-carousel-container">
                                <div class="spacer-bottom-regular outer">
                                    <div class="carousel">






                                        <!-- Stan Billions -->
                                        <div>
                                            <a href="https://offer.optus.com.au/optus-perks-win-trip-vegas-stan-billions?CID=sms:con:CD:StanB:awa:Perks:DCE:MRM30257-034&amp;utm_source=CD&amp;utm_medium=sms&amp;utm_campaign=sms:con:CD:StanB:awa:Perks:DCE:MRM30257-034">
                                                <img src="https://i.ewalletcdn.com/1d8b748f-e6ae-4f41-a5c9-3c6ac721c9a0/" alt="Win a trip to Las Vegas to celebrate the brand new season of Billions">
                                            </a>
                                        </div>

                                        <!-- Fifa -->
                                        <div>
                                            <a href="https://offer.optus.com.au/optus-perks-win-trip-fifa-world-cup-russia?CID=dis:con:opca:sport:awa:sport:DCE:MRM30334-029_perks_cara&amp;utm_source=opca&amp;utm_medium=dis&amp;utm_campaign=dis:con:opca:sport:awa:sport:DCE:MRM30334-029_perks_cara">
                                                <img src="https://i.ewalletcdn.com/6ecb140d-b390-4d63-b27e-600c76d17690/" alt="Win a trip to the 2018 FIFA World Cup Russia™ worth up to $62,000">
                                            </a>
                                        </div>

                                        <!-- Peter Rabbit -->
                                        <div>
                                            <a href="https://www.optusperks.com.au/supplierbuy">
                                                <img src="https://i.ewalletcdn.com/65c0cd16-67b0-4b73-aebf-5a960edadaf6/"
                                                    alt="Catch a bunny blockbuster">
                                            </a>
                                        </div>




                                    </div>
                                    <a href="javascript:;" class="slick-play-pause">
                                        <span class="ico ico-arrow-right"></span>
                                        <span class="ico ico-equals"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--two columns -->
                    <div class="row feature feature-promo feature-height-480">

                        <div class="large-6 columns">
                            <div class="feature-container">
                                <div class="feature-image" id="">
                                    <a href="https://offer.optus.com.au/optus-perks-win-trip-vegas-stan-billions?CID=sms:con:CD:StanB:awa:Perks:DCE:MRM30257-034&amp;utm_source=CD&amp;utm_medium=sms&amp;utm_campaign=sms:con:CD:StanB:awa:Perks:DCE:MRM30257-034">
                                        <img src="https://i.ewalletcdn.com/b36adae8-760a-4594-ba19-12b739f4ae7f/" alt=" Win a trip to Las Vegas to celebrate the brand new season of Billions "
                                            title="Win a trip to Las Vegas to celebrate the brand new season of Billions ">
                                    </a>
                                </div>
                                <div class="feature-body">
                                    <h3>
                                        <a href="https://offer.optus.com.au/optus-perks-win-trip-vegas-stan-billions?CID=sms:con:CD:StanB:awa:Perks:DCE:MRM30257-034&amp;utm_source=CD&amp;utm_medium=sms&amp;utm_campaign=sms:con:CD:StanB:awa:Perks:DCE:MRM30257-034">Win a trip to Las Vegas to celebrate the brand new season of Billions</a>
                                    </h3>
                                    <p>Saddle up, because we want to send you and your most trusted friend (or enemy?), on a
                                        5-day luxury trip to Las Vegas so you can live large. Ends 27/5/18. T&amp;Cs apply.

                                    </p>
                                </div>
                                <hr>
                            </div>
                        </div>


                        <div class="large-6 columns">
                            <div class="feature-container">
                                <div class="feature-image" id="">
                                    <a href="https://offer.optus.com.au/optus-perks-win-trip-fifa-world-cup-russia?CID=dis:con:opca:sport:awa:sport:DCE:MRM30334-029_perks_med&amp;utm_source=opca&amp;utm_medium=dis&amp;utm_campaign=dis:con:opca:sport:awa:sport:DCE:MRM30334-029_perks_med">
                                        <img src="https://i.ewalletcdn.com/7a76124f-d7a7-402a-8f41-b14f7bee09b0/" alt="Win a trip to the 2018 FIFA World Cup Russia™ worth up to $62,000"
                                            title="Win a trip to the 2018 FIFA World Cup Russia™ worth up to $62,000">
                                    </a>
                                </div>
                                <div class="feature-body">
                                    <h3>
                                        <a href="https://offer.optus.com.au/optus-perks-win-trip-fifa-world-cup-russia?CID=dis:con:opca:sport:awa:sport:DCE:MRM30334-029_perks_med&amp;utm_source=opca&amp;utm_medium=dis&amp;utm_campaign=dis:con:opca:sport:awa:sport:DCE:MRM30334-029_perks_med">Win a trip to the 2018 FIFA World Cup Russia™ worth up to $62,000 </a>
                                    </h3>
                                    <p>This is the trip of a lifetime. You and 3 mates could be on the way to the 2018 FIFA
                                        World Cup Russia™. Ends 4/5/18. T&amp;Cs apply.

                                    </p>
                                </div>
                                <hr>
                            </div>
                        </div>



                    </div>

                    <!--two columns -->
                    <div class="row feature feature-promo feature-height-480">

                        <div class="large-6 columns">
                            <div class="feature-container">
                                <div class="feature-image">
                                    <a href="/perks3?cm_re=Home+Page-_-SB1-_-wallpapersAu">
                                        <img src="https://i.ewalletcdn.com/b49c7cc2-7c17-4508-a56c-900d6384ffb5/" alt="Download breathtaking National Geographic wallpapers for your phone. Thanks to Optus Perks."
                                            title="Download breathtaking National Geographic wallpapers for your phone. Thanks to Optus Perks.">
                                    </a>
                                </div>
                                <div class="feature-body">
                                    <h3>
                                        <a href="/perks3?cm_re=Home+Page-_-SB1-_-wallpapersAU">Download breathtaking National Geographic wallpapers for your phone. Thanks to Optus
                                            Perks.</a>
                                    </h3>
                                    <p>Be inspired by the world around you every day. Pick your favourite wallpapers to download
                                        from a selection of breathtaking photographs.
                                        <a href="/perks3?cm_re=Home+Page-_-SB1-_-wallpapersAU">
                                        Click to explore</a>.</p>

                                </div>
                                <hr>
                            </div>
                        </div>

                        <div class="large-6 columns">
                            <div class="feature-container">
                                <div class="feature-image" id="movies">
                                    <a href="/supplierbuy?cm_re=Home+Page-_-SB1-_-MoviesAu">
                                        <img src="https://i.ewalletcdn.com/16b5a354-79b8-459b-a5c3-a9b45d01dc78/" alt="DISCOUNTED MOVIE TICKETS" title="DISCOUNTED MOVIE TICKETS">
                                    </a>
                                </div>
                                <div class="feature-body">
                                    <h3>
                                        <a href="/supplierbuy?cm_re=Home+Page-_-SB1-_-MoviesAu">DISCOUNTED MOVIE TICKETS</a>
                                    </h3>
                                    <p>Treat yourself. Take your family or friends. Enjoy the latest blockbusters for less with
                                        discounted movies.</p>

                                </div>
                                <hr>
                            </div>
                        </div>


                    </div>



                    <!--two columns -->
                    <div class="row feature feature-promo feature-height-480">





                        <div class="large-6 columns">
                            <div class="feature-container">
                                <div class="feature-image">
                                    <a href="/competition">
                                        <img src="https://i.ewalletcdn.com/ab5e771d-7414-4ae1-9878-87db14720662/" alt="Check out the major prize winners of our latest Perks competitions."
                                            title="Competitions">
                                    </a>
                                </div>
                                <div class="feature-body">
                                    <h3>
                                        <a href="/competition">Competitions</a>
                                    </h3>
                                    <p>Check out our latest Perks competitions. </p>

                                </div>
                                <hr>
                            </div>
                        </div>




                    </div>

                    <!--two columns -->
                    <div class="row feature feature-promo" id="feature-height-480">


                        <div class="large-6 columns">
                            <div class="feature-container">
                                <div class="feature-image">
                                    <a href="/events?&amp;cm_re=Home%20Page-_-SB4-_-EventsAu">
                                        <img src="https://i.ewalletcdn.com/3b41bd8d-827c-4650-9611-d6d0dbd98168/" alt="Buy Event tickets" title="Buy Event tickets">
                                    </a>
                                </div>
                                <div class="feature-body">
                                    <h3>
                                        <a href="/events?cm_re=Home+Page-_-SB9-_-eventsAu">Buy Event tickets</a>
                                    </h3>
                                    <p>Check out our exclusive offers to the latest in music gigs, comedy, theatre and more.</p>
                                </div>
                                <hr>
                            </div>
                        </div>

                        <div class="large-6 columns">
                            <div class="feature-container">
                                <div class="feature-image">
                                    <a href="/supplierbuy?&amp;cm_re=Home%20Page-_-SB3-_-BuyMoviesAu">
                                        <img src="https://i.ewalletcdn.com/cd3ba781-bd1e-47bc-8a73-617d0d5ac5c5/" alt="Buy movie vouchers" title="Buy movie vouchers">
                                    </a>
                                </div>
                                <div class="feature-body">
                                    <h3>
                                        <a href="/supplierbuy?&amp;cm_re=Home%20Page-_-SB3-_-BuyMoviesAu">DISCOUNTED MOVIE TICKETS</a>
                                    </h3>
                                    <p>Treat yourself. Take your family or friends. Enjoy the latest blockbusters for less with
                                        discounted movies. </p>
                                </div>
                                <hr>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>


</div>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';
    export default {

        name: 'home',
        components: {
            Carousel,
            Slide
        }
    }
</script>
