<template>
    <div class="row collapse">
        <div class="large-12 column">
            <h1>Page not found</h1>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>