<template>
    <div>
        <div class="row  spacer-bottom-regular outer">
            <div class="columns large-7">
                <h1 class="page-subcategory-heading heading-primary">Pick your perk</h1>
                <p>Looking for a perk me up? Well you've come to the right place!</p>
                <p>Check out the offers, discounts and special treats that are available for you, just for being an Optus Perks member! </p>
            </div>
        </div>
        <div class="row  spacer-bottom-regular outer">
            <div class="columns large-12">
                <p><b>BOOK YOUR HOYTS MOVIE SESSION</b></p>
                <a class="button radius" href="/hoyts">BOOK NOW</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>