<template>
    <div>
        <div class="row spacer-bottom-regular outer">
            <div class="columns show-for-small">
                <h1 class="heading-primary">Experiences</h1>
            </div>
            <div class="large-7 medium-7 small-12 columns large-pull-5 medium-pull-5">
                <h1 class="heading-primary hide-for-small">Experiences</h1>
                <p>Hot offers and discounts to iconic attractions and unforgettable experiences.</p>
                <p>By clicking ‘BUY NOW’, you agree to the Optus Perks Experiences Terms and Conditions (below). </p>
            </div>
        </div>
        <div class="row feature feature-promo feature-height-630">
            <div class="large-6 columns">
                <div class="feature-container">
                    <div class="feature-image" id="AustralianOutbackSpectacular">
                        <img src="../assets/images/Experienceoz_AustralianOutbackSpectacularOffer_570x220.jpg" alt="Optus members save over $40 on the Australian Outback Spectacular."
                            title="Optus members save over $40 on the Australian Outback Spectacular.">
                    </div>
                    <div class="feature-body">
                        <h3>Optus members save over $40 on the Australian Outback Spectacular.</h3>
                        <p>Join the talented cast of the newest show; High Country Legends for an evening and afternoon full
                            of great food, gorgeous animal stars and magical stunts.
                            <br> Location: QLD
                            <br> Offer dates: 28 March 2018 - 30 April 2018 </p>
                        <a href="https://www.optus.com.au/customercentre/rewards/login?cm_re=perks1-_-AustralianOutbackSpectacularUn-_-LoginUn&amp;returnurl=/perks1"
                            class="add-to-cart-button button radius yellow">log in to buy</a>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="large-6 columns">
                <div class="feature-container">
                    <div class="feature-image" id="Superpass">
                        <img src="../assets/images/Experienceoz_VillageRoadshowSuperPassOffer_570x220.jpg" alt="Optus members save over 15% on the Village Roadshow Super Pass."
                            title="Optus members save over 15% on the Village Roadshow Super Pass..">
                    </div>
                    <div class="feature-body">
                        <h3>Optus members save over 15% on the Village Roadshow Super Pass.</h3>
                        <p>Visit three Gold Coast theme parks over 7 consecutive days for one low price.
                            <br> Location: QLD
                            <br> Offer dates: 28 March 2018 - 30 April 2018 </p>
                        <a href="https://www.optus.com.au/customercentre/rewards/login?cm_re=perks1-_-HotelGrandChanun-_-LoginUn&amp;returnurl=/perks1"
                            class="add-to-cart-button button radius yellow">Log in to buy</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row feature feature-promo feature-height-630">
            <div class="large-6 columns">
                <div class="feature-container">
                    <div class="feature-image" id="magistic">
                        <img src="../assets/images/majistic.jpg" alt="Magistic Dinner Cruise, Save over $80" title="Magistic Dinner Cruise, Save over $80.">
                    </div>
                    <div class="feature-body">
                        <h3>Magistic Dinner Cruise, Save over $80.</h3>
                        <p>Sydney Harbour dinner cruise on a luxury Magistic catamaran. Value $161, Optus members pay: $80.
                            <br> Location: NSW
                            <br> Offer dates: 8 January 2018 - 30 April 2018
                        </p>
                        <a href="https://www.optus.com.au/customercentre/rewards/login?cm_re=perks1-_-magistic-_-LoginUn&amp;returnurl=/perks1" class="add-to-cart-button button radius yellow">Log in to buy</a>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="large-6 columns">
                <div class="feature-container">
                    <div class="feature-image" id="BonorongSanctuaryOffer">
                        <img src="../assets/images/BonorongSanctuaryOffer_570x220.jpg" alt="Optus members save 15% on Bonorong Sanctuary tickets.">
                    </div>
                    <div class="feature-body">
                        <h3>Optus members save 15% on Bonorong Sanctuary tickets.</h3>
                        <p>Pay a visit to Tasmania's ever-popular Bonorong Wildlife Sanctuary and get up close to all of the
                            furry animal favourites that call the park home.
                            <br> Location: TAS
                            <br> Offer dates: 06 April 2018 - 06 May 2018 </p>
                        <a href="https://www.optus.com.au/customercentre/rewards/login?cm_re=perks1-_-BonorongSanctuaryOfferun-_-LoginUn&amp;returnurl=/perks1"
                            class="add-to-cart-button button radius yellow">Log in to buy</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row feature feature-promo feature-height-630">
            <div class="large-6 columns">
                <div class="feature-container">
                    <div class="feature-image" id="PortStephensDolphinCruise">
                        <img src="../assets/images/PortStephensDolphinCruiseOffer_570x220.jpg" alt="Optus members save 15% on the Port Stephens Dolphin Watch Cruise."
                            title="Optus members save 15% on the Port Stephens Dolphin Watch Cruise.">
                    </div>
                    <div class="feature-body">
                        <h3>Optus members save 15% on the Port Stephens Dolphin Watch Cruise.</h3>
                        <p>Depart from Port Stephens for an unforgettable 1.5 hour dolphin watching cruise adventure and see
                            these friendly, intelligent creatures up close.
                            <br> Location: NSW
                            <br> Offer dates: 06 April 2018 - 07 May 2018
                        </p>
                        <a href="https://www.optus.com.au/customercentre/rewards/login?cm_re=perks1-_-PortStephensDolphinCruiseun-_-LoginUn&amp;returnurl=/perks1"
                            class="add-to-cart-button button radius yellow">Log in to buy</a>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="large-6 columns">
                <div class="feature-container">
                    <div class="feature-image" id="RottnestIslandPackage">
                        <img src="../assets/images/RottnestIslandOffer_570x220.jpg" alt="Optus members save 15% on all Rottnest Island Ferry and Tour packages.">
                    </div>
                    <div class="feature-body">
                        <h3>Optus members save 15% on all Rottnest Island Ferry and Tour packages.</h3>
                        <p>Welcome to the fabulous Rottnest Island with these great tours where family, fun, wildlife encounters,
                            and relaxation all await you.
                            <br> Location: WA
                            <br> Offer dates: 06 April 2018 - 06 May 2018 </p>
                        <a href="https://www.optus.com.au/customercentre/rewards/login?cm_re=perks1-_-RottnestIslandPackageun-_-LoginUn&amp;returnurl=/perks1"
                            class="add-to-cart-button button radius yellow">Log in to buy</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row feature feature-promo">
            <div class="large-6 columns">
                <div class="feature-container">
                    <div class="feature-image" id="wnw">
                        <img src="../assets/images/medwnw.jpg" alt="Beat the queue at Wet’n’Wild Sydney" title="Beat the queue at Wet’n’Wild Sydney.">
                    </div>
                    <div class="feature-body">
                        <h3>Beat the queue at Wet’n’Wild Sydney</h3>
                        <p>Login or register for 30 minute early access from 9:30AM.
                        </p>
                        <a href="https://www.optus.com.au/customercentre/rewards/login?cm_re=perks1-_-wnw-_-LoginUn&amp;returnurl=/perks1" class="add-to-cart-button button radius yellow">Log in to redeem</a>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="large-6 columns">
                <div class="feature-container">
                    <div class="feature-image" id="ExperienceOz">
                        <img src="../assets/images/OPT0322_ExperienceOz_Sept_570x220_visOnly.jpg" alt="Experience the best OZ and NZ has to offer"
                            title="Experience the best OZ and NZ has to offer">
                    </div>
                    <div class="feature-body">
                        <h3>Experience the best OZ and NZ has to offer with 15% off Experience Oz </h3>
                        <p>Do something amazing and do it with 15% off Experience Oz. Be it rock climbing, jet boating, whale
                            watching or even hot air ballooning, there’s over 3000 experiences to choose from. 15% discount
                            does not apply to other Optus exclusive Experience Oz offers. For full T&amp;Cs click
                            <a href="/perks2"
                                target="_blank">here</a>.
                            <br> Location: Australia and New Zealand
                            <br> Offer dates: 08 September 2016 - 30 June 2018 </p>
                        <a href="https://www.optus.com.au/customercentre/rewards/login?cm_re=perks1-_-exoz-_-LoginUn&amp;returnurl=/perks1" class="add-to-cart-button button radius yellow">Log in to buy</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <accordion title="Terms and Conditions">
                    <p><b>General Conditions Perks Events</b></p>
                    <p>•	Offers are only available for Optus Perks customers.</p>
                    <p>•	Offers are subject to availability during the ticket offer period. </p>
                    <p>•	A limited number of tickets will be available and will be allocated on a first come, first served basis until the allocation is exhausted OR the specified end time of offer occurs – whichever comes first. </p>
                    <p>•	Tickets are sold subject to the ticketing agent’s Standard Terms and Conditions and any additional terms and conditions imposed by the relevant venue/presenter of the event. These terms and conditions are available on the relevant ticketing partner’s website. </p>
                    <p>•	Optus does not charge any additional fees for obtaining tickets; however standard handling, booking or transaction/payment processing fees may apply as indicated on the ticketing partner’s website.</p>
                    <p>•	Optus provides information about the offers that is correct at the time of publication.</p>
                    <p>•	Optus does not provide any of the good and services relating to the offer, and does not make representations or warranties in respect of the offer, goods or services.</p>
                    <p>•	Relevant ticketing agencies and/or event promoters are solely responsible for offer redemption and fulfilment. In the case of an event cancellation, the relevant ticketing agency and/or promoter of the event are solely responsible for any refunds or exchanges.</p>
                    <p>•	You will be required to create an account with the ticketing agent to complete the ticket purchase.</p>
                    <p>•	Optus may modify or remove the offers at any time without prior notice.</p>
                    <p>•	By clicking on buy now, you are agreeing to the terms and conditions of the Perks Events offers.</p>
                </accordion>
            </div>
        </div>
        <div class="row spacer-bottom-regular outer">
            <div class="columns small-4">
                <a class="button text v-center" href="https://www.optusperks.com.au/">Back</a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <accordion title="Top questions - FAQs">
                    <ul class="list-qna">
                        <li>
                            <h4><span class="text-qa">Q:</span><span style="font-weight:bold">Do I need to register for Optus Perks to take advantage of Perks Events?</span></h4>
                            <p><span class="text-qa">A:</span>Yes, it's easy to register any time you like!  Just head <a href="https://www.optus.com.au/customercentre/rewards" target="_blank">here</a> and pop in your details. Here are some other ways to register too:
                            <br>1. My Account
                            <br>Got an existing My Account? Login with your existing My Account details (email and password) at <a href="https://www.optus.com.au/optusperks/registration" target="_blank">www.optus.com.au/optusperks/registration</a> and follow the easy steps. You will need to confirm a few details like letting us know your Optus service (such as your mobile phone number or broadband username) — then you'll be ready to go!
                            <br>2. My Optus App
                            <br>Got the My Optus App? Open the app and tap on the "Rewards and Offers" banner on the side panel. Click on the Optus Perks side panel and follow the easy steps to register. Simply confirm a few details like your email and you'll be ready to go!
                            <br>3. What if I don't have My Account or My Optus App?
                            <br>No problems at all. If you don't have My Account or My Optus App, you can register <a href="https://www.optus.com.au/optusperks/registration" target="_blank">here</a> — just follow the easy steps. Register with an email and put in a few extra details like your Optus service (such as your mobile number or broadband username), and away you go.
                            To finalise your registration for any of the above options you might be asked to confirm your email. We'll then send you a confirmation email to acknowledge your request, and then all you need to do is to click on the URL in the email to activate your account. It'll then be time to start enjoying Optus Perks any time! Simply log in when you need your perk.
                            </p></li>
                        <li>
                            <h4><span class="text-qa">Q:</span><span style="font-weight:bold">The Perks Event I am wanting is now closed, can I still purchase tickets?</span></h4>
                            <p><span class="text-qa">A:</span>Unfortunately no, if the event has closed, we can no longer offer this promotion.  Please make sure you take advantage of another Perk Event available on our website. </p>
                        </li>
                        <li>
                            <h4><span class="text-qa">Q:</span><span style="font-weight:bold">I received communication from Optus Perks of a Perks Event Sale promotion, however I did not purchase tickets in the sale promotion period. Can I still purchase tickets?</span></h4>
                            <p><span class="text-qa">A:</span>Unfortunately no, if the event has closed, we can no longer offer this promotion.  Please make sure you take advantage of another Perk Event available on our website.</p>
                        </li>
                            <li>
                            <h4><span class="text-qa">Q:</span><span style="font-weight:bold">Who do I call with a problem, refund or complaint regarding my ticket purchase from Ticketek  or Ticketmaster ? </span></h4>
                            <p><span class="text-qa">A:</span>If you have purchased Perks Events tickets you will need to call Ticketek  or Ticketmaster directly
                            <br>Ticketmaster Contact Number  :  136100
                            <br>Ticketek Contact number : 132 849
                            </p>
                        </li>
                        <p>For a full list of  FAQs associated with  Ticketmaster please click <a href="http://www.ticketmaster.com.au/h/help.html?tm_link=tm_i_help_footer" target="_blank">here</a> </p>
                        <p>For a full list of  FAQs associated with Ticketek please click here <a href="http://ticketek.custhelp.com/app/answers/list" target="_blank">here</a>  </p>
                    </ul>
                </accordion>
            </div>
        </div>
    </div>
</template>

<script>
    import accordion from '@/components/Accordion'
    export default {
        components: {
            accordion
        }
    }
</script>

<style lang="scss" scoped>
    @media only screen and (min-width: 860px) {
        .feature .feature-container {
            min-height: 410px;
            height: 570px;
        }
        .feature-height-630 .large-6 .feature-container {
            min-height: 630px;
            height: 630px;
        }
    }

    ol.ts_cs_nb>li:after {
        content: counter(list) ".";
        position: absolute;
        left: -2.5em;
        top: -0.2em;
        width: 2em;
        text-align: right;
        color: #00a3ad;
    }
</style>