<template>
<div id="main" class="reward-details">
    <div class="custom">
        <div class="row  spacer-bottom-regular outer">
            <div class="columns large-7">
                <h1 class="page-subcategory-heading heading-primary">MOVIES FOR LESS</h1>

                <div class="row spacer-top-regular outer">
                    <div class="column">
                        <div>
                            <p></p>
                            <p>Optus Perks members can buy discounted movie tickets at HOYTS cinemas, even on public holidays!
                                Click BOOK NOW to get your tickets.</p>
                            <p>• Kids tickets from just $9.50

                                <br>• Adults tickets from just $12.00

                                <br>• HOYTS LUX tickets from just $30 (This includes a $3 booking fee)
                            </p>
                            <p>Tickets can be used anytime, except after 5pm on Saturdays.</p>
                            <p>Surcharges apply for Recliner cinemas ($3.50), Xtreme Screen ($3.50), 3D ($3) and LUX booking
                                fee ($3). Click here for full

                                <a href="/productterms">Terms & Conditions </a> and

                                <a href="/faq">FAQs</a>.
                            </p>
                            <p>
                                <b>WANT AN EASIER WAY TO BUY YOUR TICKETS?</b>
                            </p>
                            <p>Use My Optus app, tap on 'Perks', and then select 'Movies for Less'. No passwords needed. Too
                                easy!</p>
                            <p>
                                <b>Note: From 1 November 2017 Optus Perks tickets to HOYTS cinemas will be $12.00 for adults,
                                    $9.50 for kids and $30.00 for HOYTS LUX (This includes a $3.00 booking fee). Recliner
                                    cinema charge will remain at $3.50.</b>
                            </p>
                            <p>Independent movie cinema vouchers are currently not available in the Optus Perks program (from
                                12 May 2017). </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns large-5 text-right">
                <img class="reward-header-image" src="https://i.ewalletcdn.com/9392cc91-e737-46eb-8ca3-c98d990824d3/" alt="MOVIES FOR LESS">
            </div>
        </div>
<div class="find-a-cinema spacer-bottom-regular outer">
                            <div class="row">
                                <div class="large-6 columns ">
                                    <div class="spacer-bottom-regular outer spacer-top-regular">
                                        <div class="lookup">
                                            <h3 class="title">BOOK YOUR HOYTS MOVIE SESSION</h3>
                                            <p>If you’re ready to buy your HOYTS tickets click

                                                <b>BOOK NOW</b>. You’ll go directly to HOYTS to select your favourite cinema,
                                                session and seats.
                                            </p>
                                            <a href="/Hoyts" class="button radius">BOOK NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        <div class="row">

                        <div class="row">
                            <div class="column">
                                <div class="small-12 column" id="cinemaResultsMessage"></div>
                            </div>
                        </div>
                        <div class="supplier-search-result-loader-parent">
                            <div class="loader">
                                <div></div>
                            </div>
                            <div class="supplier-search-result-box loader-content-container"></div>
                        </div>
                        <br />
                        <div class="supplier-awards-loader-parent">
                            <div class="loader">
                                <div></div>
                            </div>
                            <div class="supplier-awards loader-content-container"></div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <accordion title="Top 3 questions - FAQ">
                                <div>
                                    <div data-section-content="" class="content">
                                        <p>
                                            <b> HOYTS BOOK A SESSION </b>
                                        </p>
                                        <div class='row'>
                                            <div class='columns'>
                                                <ul class='list-qna'>
                                                    <li>
                                                        <h4>
                                                            <span class='text-qa'>
                                                                <b>Q:</b>
                                                            </span>
                                                            <b> WHAT'S THE HOYTS MOVIE TICKET (BOOK A SESSION) OFFER? </b>
                                                        </h4>
                                                        <p>
                                                            <span class='text-qa'>
                                                                <b>A:</b>
                                                            </span> If you’re an Optus Perks customer, you can enjoy discounted rates
                                                            for Adult, Kids and HOYTS LUX tickets at participating HOYTS
                                                            cinemas around Australia. Select your tickets, book your movie
                                                            sessions and reserve seats all at the same time! This offer can’t
                                                            be combined with any other promotion or discount.

                                                        </p>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='columns'>
                                                <ul class='list-qna'>
                                                    <li>
                                                        <h4>
                                                            <span class='text-qa'>
                                                                <b>Q:</b>
                                                            </span>
                                                            <b> HOW DO I TAKE UP THE OFFER?</b>
                                                        </h4>
                                                        <p>
                                                            <span class='text-qa'>
                                                                <b>A:</b>
                                                            </span> All you need to do is follow these easy steps!
                                                        </p>
                                                        <p>
                                                            <B>Step 1:</B> Head to optusperks.com.au and login to your account.
                                                            (If you’re not registered yet you can do that here as well).
                                                        </p>
                                                        <p>
                                                            <B>Step 2:</B> Click 'GO TO THE MOVIES', and select 'BOOK NOW' under
                                                            'Book your HOYTS movie session'.
                                                        </p>
                                                        <p>
                                                            <B>Step 3: </B>You’ll be taken to the HOYTS cinema website to select
                                                            your movie session and amount of tickets you need – up to 10
                                                            tickets per transaction.
                                                        </p>
                                                        <p>
                                                            <B>Step 4:</B> Head to the payment page to purchase your tickets
                                                            using credit card, PayPal, Visa Checkout, MasterPass, or cinema
                                                            partner gift card. Please Note: The cardholder will need to provide
                                                            personal details online for the purchase.
                                                        </p>
                                                        <p>
                                                            <B>Step 5:</B> Check the box ‘Yes, I accept the terms and conditions
                                                            and booking policy’.
                                                        </p>
                                                        <p>
                                                            <b>Step 6:
                                                            </b> Your purchase confirmation will appear on screen and then
                                                            sent to your chosen email address.
                                                        </p>
                                                        <p>
                                                            <B>Step 7:</B> Collect your tickets at HOYTS by presenting your
                                                            Booking Confirmation email or quoting your Booking Confirmation
                                                            number. You can also print them out at home and bring them to
                                                            the cinema. They are attached as a pdf to the confirmation email.
                                                        </p>
                                                        <p> For any HOYTS Book A Session enquiries please contact HOYTS on 1300
                                                            656 893.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='columns'>
                                                <ul class='list-qna'>
                                                    <li>
                                                        <h4>
                                                            <span class='text-qa'>
                                                                <b>Q:</b>
                                                            </span>
                                                            <b> WHAT IS HOYTS RECLINER SEATING?</b>
                                                        </h4>

                                                        <span class='text-qa'>
                                                            <b>A:</b>
                                                        </span> Selected HOYTS cinemas are now fully refurbished to offer an enhanced
                                                        experience with powered recliner seats in every auditorium. Optus
                                                        Perks customers who purchase tickets to see a movie in a HOYTS reclining
                                                        cinema will be charged an additional $3.50 per ticket. This means
                                                        the cost of the ticket will be $15.00 for adults and $12.50 for kids.
                                                        This is an additional cost and only applies to specific cinemas where
                                                        recliner seats are available. These sites are: Chatswood Westfield,
                                                        Eastgardens, Wetherill Park, Woden, Belconnen, Eastland, Frankston,
                                                        Sunnybank and Chadstone. Additional cinemas may be added at a later
                                                        date. Please check the HOYTS website for the most up-to-date recliner
                                                        cinema locations

                                                        <a href='http://www.hoyts.com.au/cinemas/cinema_search.aspx' target=' _blank'>here</a>.

                                                        <div class='row'>
                                                            <div class='columns'>
                                                                <ul class='list-qna'>
                                                                    <li>
                                                                        <h4>
                                                                            <span class='text-qa'>
                                                                                <b>Q:</b>
                                                                            </span>
                                                                            <b> WHY IS THERE A PRICE INCREASE TO OPTUS PERKS
                                                                                DISCOUNTED HOYTS MOVIE TICKETS?</b>
                                                                        </h4>
                                                                        <p>
                                                                            <span class='text-qa'>
                                                                                <b>A:</b>
                                                                            </span> Our cinema partner HOYTS continues to offer Optus
                                                                            Perks customers the best cinema experience at
                                                                            fantastic prices. There has been a small price
                                                                            increase to Perks tickets to HOYTS however it's
                                                                            still a great offer for Optus Perks customers
                                                                            with a significant discount to standard ticket
                                                                            prices including new Recliner cinemas.

                                                                            <p>
                                                                                <b> MOVIE VOUCHERS FOR INDEPENDENT CINEMAS </b>
                                                                            </p>
                                                                        </p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class='row'>
                                                    <div class='columns'>
                                                        <ul class='list-qna'>
                                                            <li>
                                                                <h4>
                                                                    <span class='text-qa'>
                                                                        <b>Q:</b>
                                                                    </span>
                                                                    <b> HOW DO I REDEEM MY MOVIE VOUCHER?</b>
                                                                </h4>
                                                                <p>
                                                                    <span class='text-qa'>
                                                                        <b>A:</b>
                                                                    </span> You’ll receive an email with a link to download your
                                                                    Optus Perks movie voucher. You can then exchange your
                                                                    Optus Perks movie voucher for a cinema ticket. Simply
                                                                    present your Optus movie voucher at any participating
                                                                    independent cinema and exchange your voucher for a movie
                                                                    ticket to your selected movie and session. Please note
                                                                    some cinemas only accept printed vouchers.
                                                                    
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='columns'>
                                                        <ul class='list-qna'>
                                                            <li>
                                                                <h4>
                                                                    <span class='text-qa'>
                                                                        <b>Q:</b>
                                                                    </span>
                                                                    <b> HOW LONG WILL MY MOVIE VOUCHER BE VALID FOR AND WHEN
                                                                        CAN I USE THEM?</b>
                                                                </h4>
                                                                <p>
                                                                    <span class='text-qa'>
                                                                        <b>A:</b>
                                                                    </span> Your Optus Perks movie voucher is valid for three months
                                                                    from the date of purchase (unless otherwise specified).
                                                                    The expiry date is printed on your movie voucher. Adults
                                                                    and Kids vouchers can be redeemed for tickets to standard
                                                                    movie sessions, except after 5pm on Saturdays.
                                                                    
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='columns'>
                                                        <ul class='list-qna'>
                                                            <li>
                                                                <h4>
                                                                    <span class='text-qa'>
                                                                        <b>Q:</b>
                                                                    </span>
                                                                    <b> WHAT AGE RESTRICTIONS ARE PLACED ON KIDS MOVIE VOUCHERS
                                                                        AND TICKETS?
                                                                    </b>
                                                                </h4>
                                                                <p>
                                                                    <span class='text-qa'>
                                                                        <b>A:</b>
                                                                    </span> 15 years is the maximum age to use a kid’s movie voucher
                                                                    at participating independent cinemas and kids tickets
                                                                    for HOYTS cinemas.
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                </accordion>
                            </div>
                        </div>
        </div>
    </div>
</div>
</template>

<script>
    import accordion from '@/components/Accordion'
    export default {
        components: {
            accordion
        },
        metaInfo: {
            titleTemplate: '%s - Supplier', 
        }
    }
</script>