<template>
    <div id="main" class="contact">
  <!-- Heading Area -->
  <div class="row spacer-bottom-regular outer">
    <div class="columns show-for-small">
      <h1 class="heading-primary">Contact Us</h1>
    </div>
    
    <div class="large-7 medium-7 small-12 columns large-pull-5 medium-pull-5">
      <h1 class="heading-primary hide-for-small">Contact Us</h1>
      <p>Need to get in touch? Firstly, why not take a peek at our frequently asked questions below.</p>
    </div>
  </div>
  <!-- // Heading Area -->

  <!-- Top quesions -->
  <div class="row spacer-bottom-regular outer">
    <div class="column">
      <h3 class="heading-tertiary">Top 5 questions</h3>
    </div>
    <!-- question 1-->
    <div class="column">
        <accordion title="How do I register for Optus Perks?">
              <ol>
                            <li>
                <strong>	My Optus App</strong>
                <p>
                    Download the latest version of the My Optus App from the <a href="https://itunes.apple.com/au/app/my-optus/id503716230?mt=8" target="_blank">App Store</a> or <a href="https://play.google.com/store/apps/details?id=au.com.optus.selfservice" target="_blank">Google Play</a> and you will be automatically registered. Open the app and tap on “Perks” on the home page and you’ll be ready to go.
                </p>
            </li>
            <li>
                <strong>My Account</strong>
                <p>
                    Got an existing My Account? Login with your existing My Account details (email and password) at www.optusperks.com.au/register and follow the easy steps. You will need to confirm a few details like letting us know your Optus service (such as your mobile phone number or broadband username) — then you'll be ready to go!
                </p>
            </li>
            
                <p> <strong>What if I don’t have My Account or My Optus App?</strong></p>
                <p>
                    No problems at all. If you don’t have My Account or My Optus App, you can register <a href="https://www.optus.com.au/customercentre/rewards" target="_blank">here</a> - just follow the easy steps. Register with an email and put in a few extra details like your Optus service (such as your mobile number or broadband username), and away you go.
                </p>
                <p>
                    To finalise your registration for any of the above options you might be asked to confirm your email. 
                </p>
            
                    </ol>
        </accordion>
    </div>
    <!-- question 2-->
    <div class="column">
        <accordion title="I can’t login to Optus Perks, what should I do?">
            <p>Don’t forget that your username is your registered email address or can also be your My Account username. If you’ve forgotten your username, you’ll need to go <a href="http://www.optus.com.au/optusperks/forgotusername" target="_blank">www.optus.com.au/optusperks/forgotusername</a> and we’ll help you remember which email address you used.  Just make sure you’ve got a few details handy like your registered Optus service e.g. your mobile phone number or your broadband username. </p>
            <p>Download the latest version of the My Optus App from the <a href="https://itunes.apple.com/au/app/my-optus/id503716230?mt=8" target="_blank">App Store</a> or <a href="https://play.google.com/store/apps/details?id=au.com.optus.selfservice" target="_blank">Google Play</a> and you will be automatically registered. Open the app and tap on “Perks” on the home page and you’ll be ready to go.</p>
            <p>If you have still trouble logging in, call the team on 1300 760 014 and select option 1 on the IVR. We’ll be happy to help.</p>
        </accordion>
    </div>
    <!-- question 3-->
    <div class="column">
        <accordion title="How do I purchase rewards on Optus Perks?">
            <p>Simply log into Optus Perks via the My Optus App or the website and you’re ready to go! Simply add the rewards you would like to purchase into your shopping cart and check out. You’ll need to confirm either delivery address or email details and choose a preferred payment method. Make sure you check your delivery address before confirming the transaction.</p>
        </accordion>
    </div>
    <!-- question 4-->
    <div class="column">
        <accordion title="Can I return my Optus Perks reward?">
            <p>Only if there’s a fault with your reward. Otherwise once you have submitted and paid for your reward, it can’t be returned. </p>
        </accordion>
    </div>
    <!-- question 5-->
    <div class="column">
        <accordion title="What’s the Hoyts Movie Ticket (Book A Session) offer?">
            <p>If you’re an Optus Perks customer, you can enjoy discounted rates for Adult, Kids and HOYTS LUX tickets at participating HOYTS cinemas around Australia. Select your tickets, book your movie sessions and reserve seats all at the same time! This offer can't be combined with any other promotion or discount.</p>
        </accordion>
    </div>

    <div class="column">
      <a href="/FAQ" class="button text v-center">go to the faqs to see all questions</a>
    </div>
  </div>
  <!-- //Top quesions -->

  <!--Have a question not covered in faqs-->
  <div class="black-10-bg spacer-bottom-regular outer">
    <div class="row spacer-top-tall inner">
      <div class="columns">
        <h3 class="heading-tertiary center">Have a question not covered in the FAQs?</h3>
        <div class="row">
          <!-- phone -->
          <div class="small-12 medium-4 columns">
            <div class="tile-product center">
              <a href="tel:1300%20760%20014" target="_blank">
                <span class="ico ico-contact-us"></span>
                <h3 class="tile-title">Phone</h3>
              </a>
              <p>OPTUS PERKS:<br><a class="no-decoration black-90" href="tel:1300%20760%20014" target="_blank">1300 760 014 (9am - 8pm 7 days a week)</a></p>
			 
			  <p>HOYTS:<br><a class="no-decoration black-90" href="tel:1300%20146%20987" target="_blank">1300 1 HOYTS  (1300 1 46987) (11am - 9pm 7 days a week)</a></p>
            </div>
          </div>
          <!-- email -->
          <div class="small-12 medium-4 columns">
            <div class="tile-product center">
              <a href="mailto:perksregistration@optus.com.au">
                <span class="ico ico-webmail"></span>
                <h3 class="tile-title">Email</h3>
              </a>
              <p>Having trouble registering for Perks? Get the new My Optus App and be automatically registered. Or email us at:
<br><a class="no-decoration black-90" href="mailto:perksregistration@optus.com.au">perksregistration@optus.com.au</a></p>
            <p>Please include your full name, email address &amp; registered phone number or broadband user name so we can quickly help with your enquiry.</p>
			</div>
          </div>
          <!-- email -->
          <div class="small-12 medium-4 columns">
            <div class="tile-product center">
              <a href="mailto:perks@optusperks.com.au">
                <span class="ico ico-webmail"></span>
                <h3 class="tile-title">Email</h3>
              </a>
              <p>Have a question about redeeming your perks? No problem - email us at:<br><a class="no-decoration black-90" href="mailto:perks@optusperks.com.au">perks@optusperks.com.au</a></p>
             <p>Please include your full name, email address &amp; registered phone number or broadband user name so we can quickly help with your enquiry.</p>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//Have a question not covered in faqs-->

  <!-- my optus community -->
  <div class="row spacer-top-short inner feature feature-promo-cols">
    <div class="medium-12 large-12 columns">
      <div class="feature-container">
        

        <div class="feature-body">
            <div class="small-12 medium-12 large-6 columns">
              <h3>My Optus App</h3>
              <p>Skip registration and download My Optus app on you Optus mobile for an easy wat to access your perks. No matter where you’re at, the fun is just a tap away.</p>
              <p><a href="https://www.optus.com.au/myoptus" target="_blank" class="button radius yellow">Go to My Optus App</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //my optus community -->

</div>

</template>

<script>
    import accordion from '@/components/Accordion'
    export default {
        components: {
            accordion
        }
    }
</script>