<template>
    <div>
        <div id="main" class="terms">
	<!-- Heading Area -->
		<div class="row spacer-bottom-regular outer">
				<div class="columns">
						<h1 class="heading-primary">Optus Perks Terms &amp; Conditions</h1>
						<h3><centre>Effective: 27 February 2017</centre></h3>
						<p>Please read the following Terms and Conditions carefully as they apply to the Optus Perks program.</p>
				</div>
		</div><!-- // Heading Area -->

    <div class="row spacer-bottom-regular outer">

        <div class="columns">
        		<h3 class="heading-tertiary">PART A – INTRODUCTION</h3>
            <!--term 1-->
	        	<section>
								<h4 class="heading-quaternary"> <span class="teal span-nb">1</span> <span class="span-tit">Optus Perks</span></h4>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>1.1</strong></span>
												<strong>Optus Perks</strong> is the Optus rewards program that allows Eligible Optus Customers (<strong>you</strong>) to participate in the program and to redeem any other rewards that may be offered by Optus to you from time to time.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>1.2</strong></span>
												Optus Perks is administered by or on behalf of Optus Administration Pty Ltd ABN 79 055 136 804 of 1 Lyonpark Road, Macquarie Park, NSW, 2113, Australia (<b>Optus</b>, <b>we</b> and <b>us</b>).
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>1.3</strong></span>
												These Terms and Conditions apply to your participation in Optus Perks and to all Optus Perks offered to you from time to time. Other terms and conditions may also apply from time to time or to particular Optus Perks – we will let you know about these at the time those Perks are offered to you.
										</p>
								</section>
	          </section>
            <!--term 2-->
            <section>
	            	<h4 class="heading-quaternary"> <span class="teal span-nb">2</span> <span class="span-tit">Registration for Optus Perks </span></h4>
								<section class="left-space-35">
										<p><b>Registration requirements</b></p>
										<p>
												<span class="teal"><strong>2.1</strong></span>
												Only Eligible Optus Customers can become Optus Perks members. You can do so by registering for Optus Perks on the Optus Perks website at <a href="http://www.optusperks.com.au/" target="_blank">www.optusperks.com.au</a> or automatically when you download the My Optus App on mobile. There is no fee to register for Optus Perks.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>2.2</strong></span>
												Customers wishing to register via <a href="http://www.optusperks.com.au/" target="_blank">optusperks.com.au</a> website must:
												</p>
				                		<p>(a) provide the following details: a valid email address, Password, First Name, Last Name, Optus Phone Number or Optus Broadband Username, Date of Birth and other details if requested;</p>
										<p>(b) accept these Terms and Conditions and the Optus Privacy Policy; and</p>
										<p>(c) activate their Optus Perks account by clicking on a link sent to their registered email address.</p>
				                
										<p></p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>2.3</strong></span>
												Customers will also be automatically registered when you accept the Terms and Conditions after downloading the My Optus App on your mobile phone.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>2.4</strong></span>
												You must register for Optus Perks before you can participate in the Optus Perks  program.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>2.5</strong></span>
												By registering for Optus Perks or by purchasing or redeeming any Perks via the website or otherwise, you accept and agree to be bound by these Terms and Conditions.
										</p>
								</section>

								<section class="left-space-35">
										<p><b>Updating your profile</b></p>
										<p>
												<span class="teal"><strong>2.6</strong></span>
												Optus Perks Members can update their details by selecting ‘Profile’ on the Optus Perks website. You must be logged in to Optus Perks website to do this.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>2.7</strong></span>
												Each Optus Perks Member must promptly update their ‘Profile’ on the Optus Perks website for any change of name, address or other personal details. Optus will not be liable for any Optus Perks Member failing to update personal information in his/her ‘Profile’, including any failure to receive any Optus perk because the Optus Perks Member’s contact details were not current.
										</p>
								</section>

								<section class="left-space-35">
										<p><b>Deactivation of account</b></p>
										<p>
												<span class="teal"><strong>2.8</strong></span>
												If you cease to be an Optus customer or an Eligible Optus Customer your registration will automatically be deactivated and you will be unable to participate further in and have access to Optus Perks.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>2.9</strong></span>
												Optus will retain your personal information for a reasonable period after deactivation for operational reasons only. See Optus’ Privacy policy at <a href="http://www.optus.com.au/about/legal/privacy" target="_blank">www.optus.com.au/privacy</a> for more details on how Optus will deal with your personal information.
										</p>
								</section>
								<section class="left-space-35">
										<p>
								</p></section>
            </section>

						<h3 class="heading-tertiary">PART B – OTHER OPTUS PERKS</h3>
						<!--term 4-->
						<section>
								<h4 class="heading-quaternary"> <span class="teal span-nb">3</span> <span class="span-tit">Offers of other Perks</span></h4>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>3.1</strong></span>
												From time to time, Optus may also offer other perks as part of the Optus Perks program. <strong>Other perks</strong> are rewards that are offered through the Optus Perks website that have not been mentioned in these terms and conditions. These can be one off rewards that are offered through the Optus Perks program for purchase with or without payment. Examples of other Perks are free ice cream or the opportunity to enter competitions.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>3.2</strong></span>
												In addition to these Terms and Conditions, any such offers of other perks will be subject to any separate terms and conditions stated on the offer sent to you or the promotional webpages for the offers (on the Optus Perks website or otherwise). Eligibility for these other Perks is subject to those additional terms and conditions. For full terms and conditions for each Perk, please check those additional terms and conditions and read them carefully before participating in any such offer.
										</p>
								</section>
						</section>
						

						<h3 class="heading-tertiary">PART C – OFFER AND PURCHASE TERMS</h3>
						<!--term 6-->
						<section>
							 <h4 class="heading-quaternary"> <span class="teal span-nb">4</span> <span class="span-tit">Offers of Optus Perks</span></h4>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>4.1</strong></span>
											 Optus may at any time, without advance notice to Optus Perks Members withdraw, limit, modify, cancel or increase the availability of any Perk, or the price required to purchase any Perk.
									 </p>
							 </section>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>4.2</strong></span>
											 Optus may notify Optus Perks Members about Optus Perks by mail, email, SMS or in participating Optus stores. Optus may offer different Optus Perks, benefits, rewards and promotions to different Customers.
									 </p>
							 </section>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>4.3</strong></span>
											 All Perks offered are subject to availability and substitutions may be necessary where a product is not available or is otherwise not of merchantable quality. Optus reserves the right to withdraw any Perk or Optus Perks offer or substitute all or part of any such item with another offer of equal or greater value.
									 </p>
							 </section>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>4.4</strong></span>
											 All reasonable efforts are made to ensure that the information provided in relation to Optus Perks in communications with Optus Perks Members and on the Optus Perks website is correct. However, to the extent permitted by law, Optus and its Service Providers do not accept any liability for the lack of completeness or accuracy of such information.
									 </p>
							 </section>
					 	</section>
            <!--term 7-->
						<section>
							 <h4 class="heading-quaternary"> <span class="teal span-nb">5</span> <span class="span-tit">Payments and Delivery</span></h4>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>5.1</strong></span>
											 Orders for Optus Perks that require payment will only be processed upon payment in full by you of the purchase price and applicable GST.
									 </p>
							 </section>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>5.2</strong></span>
											 We accept payment by Visa, Mastercard, American Express and PayPal.
									 </p>
							 </section>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>5.3</strong></span>
											 Digital Optus Perks will be dispatched within one business day provided a valid email address or SMS number has been provided.
									 </p>
							 </section>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>5.4</strong></span>
											 Optus will endeavour to deliver Optus Perks that require physical delivery, including vouchers that cannot be sent as eVouchers, within 15 business days.
									 </p>
							 </section>
							  <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>5.5</strong></span>
											 Optus does not take responsibility for sending rewards to incorrectly submitted delivery addresses. You must ensure you enter the correct details at the point of purchase and/or redemption.
									 </p>
							 </section>
							
					 	</section>
            <!--term 8-->
						<section>
								<h4 class="heading-quaternary"> <span class="teal span-nb">6</span> <span class="span-tit">Cancelling orders and Product Returns</span></h4>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>6.1</strong></span>
												The majority of the Perks offered on the Optus Perks website or otherwise will be digital and orders will be processed in near real time. In this instance the Customer will not be able to cancel, amend or exchange the order. Any request for cancellation of an order must be made by calling the Optus Perks customer service centre.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>6.2</strong></span>
												If a product obtained through the Optus Perks program is damaged, faulty or unfit for use upon receipt by an Optus Perks Member (through no fault of the member), the Customer must contact the Optus Perks customer service centre to organise a replacement or refund. Optus Perks will not be accepted for exchange or refund if Customers change their mind.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>6.3</strong></span>
												Optus Perks Members are not able to return or cancel their order via the Optus Perks website.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>6.4</strong></span>
												Refunds will be arranged only after receipt and inspection of the returned product by Optus or the relevant product supplier.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>6.5</strong></span>
												Nothing in this clause affects any rights a Customer may have which by law cannot be excluded, including under federal consumer protection laws and under State and Territory consumer protection legislation.
										</p>
								</section>
						 </section>

						 <h3 class="heading-tertiary">PART D – GENERAL TERMS</h3>
					  <!--term 9-->
						<section>
								<h4 class="heading-quaternary"> <span class="teal span-nb">7</span> <span class="span-tit">Service Providers and Optus Perks Customer service centre</span></h4>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>7.1</strong></span>
												Optus works with its Service Provider to provide the Optus Perks program to you.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>7.2</strong></span>
												Customers can call between 9am and 8pm  Sydney NSW time (including public holidays and weekends) or email the Optus Perks customer service centre to complete any redemption of an Optus Perk or for enquiries about Optus Perks or to lodge any complaint. Contact details for the Optus Perks call centre are provided on the Optus Perks website.
										</p>
								</section>
						</section>
            <!--term 10-->
						<section>
							 <h4 class="heading-quaternary"> <span class="teal span-nb">8</span> <span class="span-tit">Deactivation by Optus</span></h4>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>8.1</strong></span>
											 Optus reserves the right to cancel or withdraw your registration for, and eligibility to participate in, the Optus Perks program, including any offers made under the program, for:
											 </p>
													 <p>(a) any unreasonable or commercial use of any Optus Perks or the services provided by Optus; or</p>
													 <p>(b) any breach of these Terms and Conditions; or</p>
													 <p>(c) any breach of the terms of any other service provided to you by Optus; or</p>
													 <p>(d) any other valid reason determined by Optus (acting reasonably).</p>
											 
									 <p></p>
							 </section>
					 	</section>
            <!--term 11-->
						<section>
							 <h4 class="heading-quaternary"> <span class="teal span-nb">9</span> <span class="span-tit">Privacy and Consents</span></h4>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>9.1</strong></span>
											 Optus respects your privacy. We collect, store and use your personal information in accordance with our privacy policy, which can be found at <a href="http://www.optus.com.au/privacy" target="_blank">http://www.optus.com.au/privacy</a>.
									 </p>
							 </section>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>9.2</strong></span>
											 It is a condition of your participation in Optus Perks that you consent to:
											 </p>
													 <p>(a) Optus (and its service providers) using your personal information to operate and provide you with Optus Perks and other benefits from Optus;</p>
													 <p>(b) Optus (and its service providers) using your personal information for the purposes described in its privacy policy;</p>
													 <p>(c) Optus (and its service providers) sharing your personal information within the Optus Group and with service providers and partners (some of whom may be overseas), as described in its privacy policy; </p>
													 <p>(d) Optus and its service providers exchanging, collecting and using personal information relating to you and Optus Perks, to provide you with Optus Perks and other benefits from Optus.</p>
											 
									 <p></p>
							 </section>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>9.3</strong></span>
											 You may access or correct your personal information held by Optus, or make a complaint about its privacy practices, as described in Optus’ privacy policy.
									 </p>
							 </section>
							 <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>9.4</strong></span>
											 On registering for the Optus Perks program, customers are automatically opted into receiving marketing communications. All marketing communications will be handled by Optus. Customers can opt out of receiving marketing communications by following the link to ‘unsubscribe’.
							 </p></section>
							  <section class="left-space-35">
									 <p>
											 <span class="teal"><strong>9.5</strong></span>
											Optus may provide information about Perks members to its partners, and partners may provide information to Optus about purchases that Perks members make through them. 
							 </p></section>
					 	</section>
					 	<!--term 12-->
					 	<section>
							<h4 class="heading-quaternary"> <span class="teal span-nb">10</span> <span class="span-tit">Liability</span></h4>
							<section class="left-space-35">
									<p>
											<span class="teal"><strong>10.1</strong></span>
											Subject to its obligations under law, in particular consumer guarantees in the Australian Consumer Law (and other similar consumer protections) that cannot be excluded, restricted or modified, neither Optus nor its Service Providers will incur any liability to you in relation to any loss, damage, costs or expenses suffered or incurred by you as a result of:
											</p>
													<p>(a)the suspension and/or termination of Optus Perks;</p>
													<p>(b) any theft or third party interference;</p>
													<p>(c) Optus Perks that are late, lost, altered, damaged or misdirected due to any reason beyond the reasonable control of Optus and its Service Providers;
													</p><p>(d) any tax liability incurred by a Customer; or</p>
													<p>(e) your intended use of an Optus Perk.</p>
											
									<p></p>
							</section>
							<section class="left-space-35">
									<p>
											<span class="teal"><strong>10.2</strong></span>
											To the extent permitted by applicable law, all statutory warranties, conditions or guarantees in relation to any Optus Perks are excluded.  Certain legislation, including the Australian Competition and Consumer Act 2010 (Cth), may imply warranties, conditions or guarantees or impose obligations which cannot be excluded, restricted or modified except to a limited extent (<strong>Non-Excludable Guarantees</strong>). If such guarantees apply and Optus fails to comply with them, you may be entitled to other remedies under the applicable legislation. These Terms and Conditions must be read subject to those Non-Excludable Guarantees and remedies.
									</p>
							</section>
							<section class="left-space-35">
									<p>
											<span class="teal"><strong>10.3</strong></span>
											To the extent permitted by applicable law, the liability of Optus (and its Service Providers) to you pursuant to the Non-Excludable Guarantees is limited in the following ways, and you agree and acknowledge that the following limits are fair and reasonable in all the circumstances:
											</p>
													<p>(a) except as required under the Non-Excludable Guarantees, Optus (and its Service Providers) provides no other warranty, guarantee or assurance, express or implied, to you in relation to the Optus Perks; and</p>
													<p>(b) the liability of Optus (and its Service Providers) for failure to comply with a Non-Excludable Guarantee is limited at Optus’ option to the replacement, repair or resupply of the relevant goods (or equivalent goods), or the resupply of the relevant services, or the payment of the cost of doing any of those things.</p>
											
									<p></p>
							</section>
							<section class="left-space-35">
									<p>
											<span class="teal"><strong>10.4</strong></span>
											To the extent permitted by applicable law, Optus, its subsidiaries and its Service Providers will not be liable for any indirect, incidental, special and/or consequential damages or loss of profits whatsoever which result from any use of or access to (including unauthorised use or access) Optus Perks, or any inability to use or access Optus Perks, including but not limited to any act or omission on the part of Optus.
							</p></section>
						</section>
						<!--term 13-->
						<section>
								<h4 class="heading-quaternary"> <span class="teal span-nb">11</span> <span class="span-tit">Changes and Termination</span></h4>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>11.1</strong></span>
												These Terms and Conditions are effective as at 9 November 2015.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>11.2</strong></span>
												Optus reserves the right to change, suspend or terminate these Terms and Conditions, the Optus Perks program and any benefits under the program, at any time.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>11.3</strong></span>
												Where we change these Terms and Conditions, the Optus Perks program, or any benefits under the program, an updated copy of these Terms and Conditions will be available on our website at <a href="http://www.optusperks.com.au/Terms" target="_blank">www.optusperks.com.au/Terms</a>. The version of these Terms and Conditions published on the Optus Perks website from time to time is the current version and will bind all Customers, Eligible Optus Customers, Optus Perks Members and Optus.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>11.4</strong></span>
												For the avoidance of doubt, Optus may terminate or suspend any and all Optus Perks and any benefits under any of this program at any time.
										</p>
								</section>
						 </section>
						<!--term 14-->
						<section>
								<h4 class="heading-quaternary"> <span class="teal span-nb">12</span> <span class="span-tit">General</span></h4>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>12.1</strong></span>
												Any disputes arising between customers relating to the use of a Perk, should be first referred to the supplier. For example issues with Movie Vouchers at a cinema or venue should first be referred to the cinema or venue in question and then, if not satisfactorily resolved, referred to the Optus Perks customer service centre.
										</p>
										<p>
												<span class="teal"><strong>12.2</strong></span>
												 These Terms and Conditions, and any other written terms printed on Movie Vouchers, tickets issued upon redemption of a Movie Voucher, HOYTS Movie Tickets, other Perks or otherwise communicated to you from time to time, form your entire agreement with us in relation to the Optus Perks program and the applicable Perks. Optus may need to vary these terms and conditions from time to time, in its discretion. You will find the current version of the terms and conditions at www.optusperks.com.au/Terms. Please check for any updates before participating in or using the Optus Perks program or claiming or purchasing any Perks.
										</p>
										<p>
												<span class="teal"><strong>12.3</strong></span>
												<strong>Taxation:</strong> You are responsible and liable for any taxation implications relating to your participation in Optus Perks.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>12.4</strong></span>
												<strong>Governing Law:</strong> These Terms and Conditions are governed by the laws of New South Wales, Australia.  The parties submit to the non-exclusive jurisdiction of courts exercising jurisdiction there.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>12.5</strong></span>
												<strong>More information:</strong> For further details on Optus Perks visit the Optus Perks website.
										</p>
								</section>
						 </section>
						<!--term 15-->
						<section>
								<h4 class="heading-quaternary"> <span class="teal span-nb">13</span> <span class="span-tit">Definitions</span></h4>
								<section class="left-space-35">
										<p>
											In these Terms and Conditions (unless the context requires otherwise):	
												
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.1</strong></span>
												<strong>Aimia</strong> means Aimia Proprietary Loyalty Australia Pty Ltd ABN 96 003 848 922, which administers Optus Perks on behalf of Optus.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.2</strong></span>
												<strong>Customers</strong> mean Optus customers including Consumer customers, Small Business customers and Fleet customers.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.3</strong></span>
												<strong>Eligible Optus Customers</strong> means customers who have an active service with Optus including prepaid, postpaid and fixed products. These customers include Consumer customers, Small Business customers and Fleet customers. Optus TV featuring Foxtel satellite, Optus Thuraya customers, ‘Google Apps for Business’, Optus MyBiz Online™ , Complex fixed services (Fleet and Micro), standalone Yes TV by Fetch, VAS services (e.g. bolt-ons, roaming), Coles prepaid customers and all Optus Corporate products are ineligible.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.4</strong></span>
												<strong>GST</strong> means any goods and services tax, value added tax or sales tax imposed on the sale or supply of goods, services and rights including but not limited to a tax imposed by the A New Tax System (Goods and Services Tax) Act 1999 (Cth) and its associated legislation.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.5</strong></span>
												<strong>Loss</strong> means all liabilities, losses, damages and costs and expenses suffered or incurred in connection with any action, claim, demand, suit, judgment or proceedings of any nature or kind whatsoever.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.6</strong></span>
												<strong>HOYTS Movie Tickets (HOYTS Book A Session)</strong> are tickets to a particular movie and session booked and paid for by you through Optus Perks at participating HOYTS cinemas and includes $12.00 adult, $9.50 kids and $27 (+$3 booking fee) HOYTS LUX tickets. HOYTS Movie Tickets are a ticket and booking for a particular movie session. Surcharges may apply for upgrades such as 3D and Xtreme Screen. Recliner seats have been installed in selected HOYTS cinemas, an additional $3.50 will be charged for Perks tickets to these recliner cinemas. Tickets to recliner cinema sessions will cost $15.50 for adult tickets and $13.00 for kids tickets.
												</p>
										<p></p>
										<p>
												<span class="teal"><strong>13.7</strong></span>
												<strong>Movie Vouchers</strong> means movie vouchers issued or purchased through the Optus Perks program which can be redeemed for movie tickets for specified movie sessions at participating independent cinemas in accordance with applicable terms and conditions, including (as examples only):
												</p><ul class="disc">
														<p>(a) $11 Adult movie vouchers (Selected Independent Cinemas. Can be redeemed at participating cinemas for tickets to standard movie sessions anytime except after 5pm on Saturdays. Surcharges may apply for any upgrades e.g. 3D session)</p>
														<p>(b) $8.50 Kids movie vouchers (Selected Independent Cinemas. Can be redeemed at participating cinemas for tickets to standard movie sessions anytime except after 5pm on Saturdays. Surcharges may apply for any upgrades e.g. 3D session)</p>
														
																										</ul>
												<p>Movie Vouchers are not tickets to particular movie sessions but may be redeemed for a ticket to a particular movie session in accordance with the terms and conditions of the voucher and these <a href="/productterms" target="_blank">Terms and Conditions</a>.</p>
										        
										<p></p>
										
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.8</strong></span>
												<strong>Optus Perks Member</strong> means an Eligible Optus Perks Customer who has successfully registered for Optus Perks.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.9</strong></span>
												<strong>Perk(s)</strong> means all of the perks, rewards, items and benefits offered to Customers as part of the Optus Rewards program pursuant to the Terms and Conditions.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.10</strong></span>
												<strong>Personal Information</strong> means Personal Information as that term is defined in the Privacy Act 1988 (Cth), as that meaning may be amended from time to time.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.11</strong></span>
												<strong>Registration</strong> means registration for or to participate in Optus Perks (and <b>register</b> and <b>registered</b> have corresponding meanings).
										</p>
								</section>
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.12</strong></span>
												<strong>Service Providers</strong> means the third party service providers, agents and distributors who help Optus provide the Optus Perks program to you, including Aimia and TLC Marketing and their respective agents and distributors.
										</p>
								</section>
								
								<section class="left-space-35">
										<p>
												<span class="teal"><strong>13.13</strong></span>
												<strong>TLC Marketing</strong> TLC Marketing Worldwide Pty Ltd ABN 66 124 275 921, which administers movie vouchers on behalf of Optus.
										</p>
								</section>
								<section class="left-space-35">
										<p>
												
												<strong>Optus Administration Pty Ltd ABN 79 055 136 804</strong> 
												</p><p><b>For movie vouchers, HOYTS tickets and more product T&amp;Cs click <a href="/productterms" target="_blank">here</a></b></p><b>
												<p></p>
										<p></p>
								</b></section><b>
						 </b></section><b>
        </b></div><b>
    </b></div><b>


</b></div>

    </div>
</template>

<script>
    export default {
        
    }
</script>