<template>
    <div class="section-container accordion">
        <section :class="{ active: isActive }">
            <div data-section-title="" class="title">
                <div class="small-accordion">
                    <a href="#" class="small-accordion-link" @click.prevent="toggleAccordion">
                        <span class="accordion-name columns">
                            <span class="accordion-title uppercase">{{ title }}</span>
                        </span>
                        <span class="ico ico-arrow-up"></span>
                        <span class="ico ico-arrow-down"></span>
                    </a>
                </div>
            </div>
            <div data-section-content="" class="content">
                <slot></slot>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isActive:false
            }
        },
        props: {
            title: {
                default:null,
                type:String
            }
        },
        methods: {
            toggleAccordion() {
                this.isActive = !this.isActive
            }
        },
    }
</script>