<template>
    <footer>
        <div>
            <div id="global_footer" class="custom_footer">
                <div class="row">
                    <div class="large-8 medium-7 columns footer-links-bg">
                        <div class="row collapse">
                            <div class="footer-links">
                                <div class="columns medium-3">
                                    <ul>
                                        <li>
                                            <a href="/Support">Contact&nbsp;us</a>
                                        </li>
                                        <li>
                                            <a href="/Terms">Perks&nbsp;terms&nbsp;&amp;&nbsp;conditions</a>
                                        </li>
                                        <li>
                                            <a href="/FAQ">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="//www.optus.com.au/about/legal/privacy" target="_blank">Privacy&nbsp;policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="large-4 medium-5 columns">
                        <div class="row collapse">
                            <div class="columns large-12">
                                <div class="footer-social">
                                    <ul>
                                        <li>
                                            <a href="//www.facebook.com/optus" alt="Link to Facebook" target="_blank">
                                                <span class="ico ico-only ico-footer-social ico-facebook">&nbsp;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="columns large-12">
                                <div class="footer-info">
                                    <span class="copyright">©2018 Singtel Optus Pty Limited</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'PerksFooter'
    }
</script>