<template>
    <div class="large-12 columns nav-main show-for-large-up">
        <div class="row collapse">
            <div class="large-11 columns nav-column-wrapper">
                <ul id="nav-primary-level" class="nav-primary-level">
                    <li class="active nav-yes-for-you">
                        <a class="tier2Link no-icon" href="/">
                            Optus Perks
                        </a>
                        <ul>
                            <li>
                                <ul>
                                    <li class=" ">
                                        <router-link to="/">Home</router-link> |
                                    </li>
                                    <li class=" ">
                                        <router-link to="/about">About</router-link>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="large-1 columns center">
                <div class="nav-seperator"></div>
                <a class="nav-support " href="/Support">
                    Support
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'PerksNav'
    }
</script>
<style lang="scss">
.nav-primary-level{
    display:block
}
.nav-primary-level a{
    font-size:1.125em;
    color:#fff;
    display:block;
    text-decoration:none;
    text-transform:uppercase;
    vertical-align:top
}
.nav-primary-level li ul{
    display:none
}
.nav-primary-level li a{
    border:0 solid #ffd100
}
.container-nav .nav-primary-level{
    clear:both;
    padding:0 15px
}
.container-nav .nav-primary-level a{
    position:relative;
    padding:18px 12px 15px 15px;
    margin:-1px -15px
}
.container-nav .nav-primary-level a:hover,.container-nav .nav-primary-level a:focus{
    background:#13768b
}
.container-nav .nav-primary-level a:focus{
    text-decoration:underline
}
.container-nav .nav-primary-level a:active{
    text-decoration:none
}
.container-nav .nav-primary-level .ico,.container-nav .nav-primary-level form.custom .custom.checkbox.checked,form.custom .container-nav .nav-primary-level .custom.checkbox.checked,.container-nav .nav-primary-level .list-breadcrumb li,.list-breadcrumb .container-nav .nav-primary-level li,.container-nav .nav-primary-level .nav-back-arrow{
    margin-right:13px
}
.container-nav .nav-primary-level li.locked{
    border-top:1px solid #00a2ad
}
.container-nav .nav-primary-level li.active>a,.container-nav .nav-primary-level li.active>a:hover,.container-nav .nav-primary-level li.active>a:focus{
    background:#13647b
}
.container-nav .nav-primary-level li.active>a:focus{
    text-decoration:underline
}
.container-nav .nav-primary-level li.active>a:active{
    text-decoration:none
}
.container-nav .nav-primary-level li.active ul{
    display:block
}
.container-nav .nav-primary-level li ul{
    margin:1px 0
}
.container-nav .nav-primary-level li ul a{
    position:relative;
    padding-left:52px;
    padding-right:12px;
    display:block;
    width:auto
}
.container-nav .nav-primary-level li ul a.active{
    border-left-width:5px;
    padding-left:48px
}
.container-nav .nav-primary-level li ul .ico,.container-nav .nav-primary-level li ul form.custom .custom.checkbox.checked,form.custom .container-nav .nav-primary-level li ul .custom.checkbox.checked,.container-nav .nav-primary-level li ul .list-breadcrumb li,.list-breadcrumb .container-nav .nav-primary-level li ul li,.container-nav .nav-primary-level li ul .nav-back-arrow{
    right:15px;
    top:50%;
    margin:-7px 0 0 0
}
.container-nav .nav-primary-level li ul li{
    border-bottom:1px solid #108b9b
}
.theme-business .container-nav .nav-primary-level a:hover,.theme-business .container-nav .nav-primary-level a:focus{
    background:#022a37
}
.theme-business .container-nav .nav-primary-level a:focus{
    text-decoration:underline
}
.theme-business .container-nav .nav-primary-level a:active{
    text-decoration:none
}
.header .nav-primary-level{
    display:none;
    overflow:hidden;
    height:82px;
    height:5.125rem;
    position:relative
}
@media only screen and (min-width: 860px){
    .header .nav-primary-level{
         display:block
    }
}
.header .nav-primary-level.transition-left1s li{
    -webkit-transition:left 1s;
    -moz-transition:left 1s;
    -o-transition:left 1s;
    transition:left 1s
}
.header .nav-primary-level .ico,.header .nav-primary-level form.custom .custom.checkbox.checked,form.custom .header .nav-primary-level .custom.checkbox.checked,.header .nav-primary-level .list-breadcrumb li,.list-breadcrumb .header .nav-primary-level li,.header .nav-primary-level .nav-back-arrow{
    float:left;
    margin-right:2px
}
.header .nav-primary-level li{
    position:relative;
    float:left;
    height:82px;
    height:5.125rem;
    text-align:center;
    list-style:none outside none
}
.header .nav-primary-level li.active>a{
    border-bottom-width:5px
}
.header .nav-primary-level li a{
    padding:25px .6875em;
    line-height:2em;
    white-space:nowrap;
    text-transform:uppercase;
    text-decoration:none;
    height:82px;
    height:5.125rem;
    vertical-align:top;
    margin:0 .6875em
}
.header .nav-primary-level li a:hover,.header .nav-primary-level li a.active,.header .nav-primary-level li a:focus{
    border-bottom-width:5px
}
.header .nav-primary-level li:focus{
    text-decoration:underline
}
.header .nav-primary-level li:active{
    text-decoration:none
}
.header .nav-primary-level li.transition-active{
    float:none;
    position:absolute;
    left:0!important;
    z-index:2;
    background:#13647b;
    -moz-border-radius-bottomleft:.375em;
    -moz-border-radius-topleft:.375em;
    -webkit-border-bottom-left-radius:.375em;
    -webkit-border-top-left-radius:.375em;
    border-bottom-left-radius:.375em;
    border-top-left-radius:.375em
}
.header .nav-primary-level li.transition-active>a{
    color:#fff;
    width:auto;
    margin-left:60px;
    padding-right:10px;
    border:0
}
.header .nav-primary-level li.transition-active>a:after{
    position:absolute;
    height:0;
    width:0;
    content:"";
    border-style:solid;
    border-color:transparent transparent transparent #13647b;
    border-width:10px 0 10px 10px;
    right:-10px;
    top:50%;
    margin-top:-10px;
    z-index:9
}
.header .nav-primary-level li.transition-active ul{
    width:100%;
    display:block;
    opacity:1
}
.header .nav-primary-level li.transition-active ul li a{
    margin:0 5px
}
.header .nav-primary-level li.transition-active .ico,.header .nav-primary-level li.transition-active form.custom .custom.checkbox.checked,form.custom .header .nav-primary-level li.transition-active .custom.checkbox.checked,.header .nav-primary-level li.transition-active .list-breadcrumb li,.list-breadcrumb .header .nav-primary-level li.transition-active li,.header .nav-primary-level li.transition-active .nav-back-arrow{
    display:none
}
.header .nav-primary-level li.transition-active .active a{
    border-bottom-width:5px
}
.header .nav-primary-level li.navigation-hide{
    display:none
}
.header .nav-primary-level li.locked{
    z-index:2;
    border-left:1px solid #00a2ad;
    width:11.75em;
    height:42px;
    height:2.625rem;
    margin-top:20px;
    margin-top:1.25rem;
    margin-bottom:20px;
    margin-bottom:1.25rem
}
.header .nav-primary-level li.locked a{
    padding-left:22px;
    padding-left:1.375rem;
    padding-right:22px;
    padding-right:1.375rem;
    margin-top:-20px;
    margin-top:-1.25rem;
    margin-bottom:-20px;
    margin-bottom:-1.25rem
}
.header .nav-primary-level li.locked.active{
    border-left:0;
    height:82px;
    height:5.125rem;
    margin-top:0;
    margin-top:0rem;
    margin-bottom:0;
    margin-bottom:0rem
}
.header .nav-primary-level li.locked.active a{
    margin-top:0;
    margin-top:0rem;
    margin-bottom:0;
    margin-bottom:0rem
}
.header .nav-primary-level li.locked.hide-icon .ico,.header .nav-primary-level li.locked.hide-icon form.custom .custom.checkbox.checked,form.custom .header .nav-primary-level li.locked.hide-icon .custom.checkbox.checked,.header .nav-primary-level li.locked.hide-icon .list-breadcrumb li,.list-breadcrumb .header .nav-primary-level li.locked.hide-icon li,.header .nav-primary-level li.locked.hide-icon .nav-back-arrow{
    display:none
}
.header .nav-primary-level li.locked.transition-active a{
    padding-left:11px;
    padding-left:.6875rem;
    padding-right:11px;
    padding-right:.6875rem
}
.header .nav-primary-level li.locked.transition-active .ico,.header .nav-primary-level li.locked.transition-active form.custom .custom.checkbox.checked,form.custom .header .nav-primary-level li.locked.transition-active .custom.checkbox.checked,.header .nav-primary-level li.locked.transition-active .list-breadcrumb li,.list-breadcrumb .header .nav-primary-level li.locked.transition-active li,.header .nav-primary-level li.locked.transition-active .nav-back-arrow{
    display:inline-block
}
.header .nav-primary-level ul{
    background:none;
    display:none;
    top:0;
    position:absolute;
    z-index:1;
    height:5.125em;
    overflow:hidden
}
.header .nav-primary-level ul .ico,.header .nav-primary-level ul form.custom .custom.checkbox.checked,form.custom .header .nav-primary-level ul .custom.checkbox.checked,.header .nav-primary-level ul .list-breadcrumb li,.list-breadcrumb .header .nav-primary-level ul li,.header .nav-primary-level ul .nav-back-arrow{
    display:none
}
.theme-business .header .nav-primary-level li.locked{
    border-color:#006685
}
</style>