<template>
    <header id="global_header_wrapper" class="header-only">
        <div id="global_header" class="header row collapse">
            <div class="header-sitewide zindex-top">
                <a class="logo left" href="/">
                    <span aria-hidden="true">Optus Home</span>
                </a>

                <ul id="nav-site-level" class="inline-list left nav-site-level">
                    <li>
                        <a class="active show-for-small" href="//www.optus.com.au">You</a>
                        <a class="active hide-for-small" href="//www.optus.com.au">For&nbsp;You</a>
                    </li>
                    <li>
                        <a class="show-for-small" href="//www.optus.com.au/business">Business</a>
                        <a class="hide-for-small" href="//www.optus.com.au/business">For&nbsp;Business</a>
                    </li>
                    <li>
                        <a href="//www.optus.com.au/about">About&nbsp;us</a>
                    </li>
                </ul>
                <ul class="inline-list right text-right">
                    <li>
                        <div>
                            <a href="//www.Optus.com.au/optusperks/login" class="button radius small yellow">Login</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="title-page show-for-medium-down">
                <span class="active">Optus Perks</span>
            </div>
            <perks-nav />
        </div>
    </header>
</template>

<script>
    import PerksNav from './PerksNav';
    export default {
        name: 'PerksHeader',
        components: { PerksNav }
    }
</script>
