<template>
    <div id="app">
        <perks-header />
        <router-view />
        <perks-footer />
    </div>
</template>

<script>
    import PerksHeader from "@/components/PerksHeader";
    import PerksFooter from "@/components/PerksFooter";
    export default {
        components: {
            PerksHeader,
            PerksFooter
        },
        metaInfo: {
            title: 'Optus Perks',
            htmlAttrs: {
                lang: 'en',
                amp: undefined 
            }
        }
    }
</script>

<style lang="scss">
    @import url('App.scss');
</style>
